{% extends "base.html" %}{% load render_table from django_tables2 %}

{% block extratitle %}
    Import absencji - szczegóły {{ object.plik.name }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "import_polon:index-absencji" %}">import absencji</a></li>
    <li class="current">import {{ object.plik.name }}</li>
{% endblock %}


{% block content %}
    <h1>Import absencji {{ object.plik.name }}</h1>
    {% if object.zapisz_zmiany_do_bazy %}
        <div class="panel callout success">
            <h2>Zmiany wprowadzono do bazy dancyh</h2>
        </div>
    {% else %}
        <div class="panel callout warning">
            <h2>Zmiany nie zostały wprowadzone do bazy danych.</h2> Import został uruchomiony bez opcji zapisywania
            danych do bazy, więc to co widzisz poniżej, to informacja, która byłaby wprowadzona do bazy, gdyby
            zaznaczono opcję zapisywania zmian do bazy.
        </div>
    {% endif %}

    {% include "long_running/operation_details.html" %}

    {% if object.finished_successfully %}

        {% include "pagination.html" %}
        <table>
            <thead>
            <tr>
                <th>Wiersz</th>
                <th>Autor XLSX</th>
                <th>Autor w BPP</th>
                <th>Rok</th>
                <th>Ilość dni</th>
                <th>Rezultat</th>
            </tr>

            </thead>
            <tbody>
            {% for row in object_list %}
                <tr>
                    <td>{{ row.nr_wiersza }}</td>
                    <td>{{ row.dane_z_xls.NAZWISKO }} {{ row.dane_z_xls.IMIE }}</td>
                    <td>
                        {% if row.autor %}
                            <a href="{% url "bpp:browse_autor" row.autor.pk %}">{{ row.autor }}</a>
                        {% endif %}
                    </td>
                    <td>{{ row.rok|default:"" }}</td>
                    <td>{{ row.ile_dni|default:"" }}</td>
                    <td>{{ row.rezultat|default:"" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}


{% endblock %}
