{# Jeden fieldset filtra stanu pola (radia wszystkie/zmienione/zgodne/brak). #}
{# Kontekst: klucz, etykieta (z pola_glowne / pola_dodatkowe). Współdzielony #}
{# przez pasek widoczny i sekcję zwijaną <details>. #}
<fieldset class="import-filtr-pole">
    <legend>{{ etykieta }}</legend>
    <label><input type="radio" name="filtr-{{ klucz }}" value="wszystkie" checked> wszystkie</label>
    <label><input type="radio" name="filtr-{{ klucz }}" value="zmienione"> zmienione</label>
    <label><input type="radio" name="filtr-{{ klucz }}" value="zgodne"> zgodne</label>
    <label><input type="radio" name="filtr-{{ klucz }}" value="brak"> brak w pliku</label>
</fieldset>
