<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Błąd serwera</title>
</head>
<body>
<div style="width:40%; text-align:left; margin: 0 auto">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>
        <img src="/static/bpp/svg/paper.svg" style="max-width: 2.8em;"
             align="absmiddle"/>
        Wystąpił błąd serwera
    </h1>

    No cóż. Najwyraźniej wystąpił błąd serwera. Administrator systemu powinien
    zostać poinformowany automatycznie o tej sytuacji. Zalecamy powrót do
    strony
    głównej, odczekanie kilku chwil, zmianę parametrów zapytania lub
    bezpośredni
    kontakt z administratorem systemu.
</div>
</body>
</html>