{% extends "admin/base.html" %}

{% load i18n admin_tools_menu_tags %}

{% block title %}{{ title }} - Bibliografia Publikacji Pracowników{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{#{% block messages %}#}
{#    {% include "monitio/message/includes/../../../django-monitio/monitio/templates/monitio/jqueryui/messages.jquery.html" %}#}
{#{% endblock %}#}

{% block nav-global %}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% include 'navigation_autocomplete_script.html' %}
            {% include 'navigation_autocomplete_input.html' %}

            <div style="display: none;" id="show-after-load">
                {% admin_tools_render_menu %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ STATIC_URL }}bpp/css/admin-style.css"/>
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ STATIC_URL }}bpp/css/admin-menu.css"/>

    <style type="text/css">
    .keypad-key {
        color: black !important;
    }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#show-after-load").css("display", "block");
            txt = $("#grp-admin-title").text();
            $("#grp-admin-title").html(
                    '<a href="/">' + txt + '</a>');

            $('.charmap').keypad({
                keypadOnly: false,
                layout: [
                    'αβγδεζ ©® àáâãäåæçß ъяшертыу',
                    'ηθικλμ ™℠ èéêëìííî  иопющэас',
                    'νξοπρσ €£ ïñòóôõöø  дфгчйкль',
                    'τυφχψω ¥¢ ùúûüýÿðþ  жзхцвбнм',
                    $.keypad.SHIFT + $.keypad.CLOSE
                ],
                showAnim: 'fadeIn',
                duration: 'fast',
                showOn: 'button'
            });

            // Przyciski jquery.keypad
            $("button.keypad-trigger").each(
                    function(no, tag) {
                        var tag = $(tag);
                        var first = tag.siblings().first();
                        if (first.is("textarea"))
                            tag.css("margin-left", "12px")
                                    .css("margin-top", "15px");

                        tag.css("color", "black")
                                .attr("tabindex", "-1");
                    });

        });
    </script>
{% endblock %}