{% extends "admin/base_site.html" %}
{% load compress cache %}

<!-- LOADING -->
{% load i18n grp_tags admin_urls static admin_list admin_filter_helpers %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    {% compress css %}
        {{ media.css }}
        <link href="{% static "bpp/css/fix-djangoql-css-for-grappelli.css" %}" rel="stylesheet" type="text/css"
              media="screen"/>
        <link href="{% static "bpp/css/admin-filter-panel.css" %}" rel="stylesheet" type="text/css"
              media="screen"/>
    {% endcompress %}
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {#    {% compress js %}#}
    {{ media.js }}
    {#    {% endcompress %}#}
    {% if cl.formset or action_form %}
        {% url 'admin:jsi18n' as jsi18nurl %}
        <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/'}}"></script>
    {% endif %}


    {% if cl.formset %}
        <script type="text/javascript" charset="utf-8">
            (function ($) {
                $(document).ready(function () {
                    grappelli.initDateAndTimePicker();
                    var prefix = "form";
                    var related_lookup_fields_fk = {% get_related_lookup_fields_fk cl.model_admin %};
                    var related_lookup_fields_m2m = {% get_related_lookup_fields_m2m cl.model_admin %};
                    var related_lookup_fields_generic = {% get_related_lookup_fields_generic cl.model_admin %};
                    var autocomplete_fields_fk = {% get_autocomplete_lookup_fields_fk cl.model_admin %};
                    var autocomplete_fields_m2m = {% get_autocomplete_lookup_fields_m2m cl.model_admin %};
                    var autocomplete_fields_generic = {% get_autocomplete_lookup_fields_generic cl.model_admin %};
                    $.each(related_lookup_fields_fk, function () {
                        $("div.grp-changelist-results")
                            .find("input[name^='" + prefix + "'][name$='-" + this + "']")
                            .grp_related_fk({lookup_url: "{% url 'grp_related_lookup' %}"});
                    });
                    $.each(related_lookup_fields_m2m, function () {
                        $("div.grp-changelist-results")
                            .find("input[name^='" + prefix + "'][name$='-" + this + "']")
                            .grp_related_m2m({lookup_url: "{% url 'grp_m2m_lookup' %}"});
                    });
                    $.each(related_lookup_fields_generic, function () {
                        var content_type = this[0],
                            object_id = this[1];
                        $("div.grp-changelist-results")
                            .find("input[name^='" + prefix + "'][name$='-" + this[1] + "']")
                            .each(function () {
                                var ct_id = "#id_" + prefix + "-" + $(this).attr("id").split("-")[1] + "-" + content_type,
                                    obj_id = "#id_" + prefix + "-" + $(this).attr("id").split("-")[1] + "-" + object_id;
                                $(this).grp_related_generic({
                                    content_type: ct_id,
                                    object_id: obj_id,
                                    lookup_url: "{% url 'grp_related_lookup' %}"
                                });
                            });
                    });
                    $.each(autocomplete_fields_fk, function () {
                        $("div.grp-changelist-results")
                            .find("input[name^='" + prefix + "'][name$='-" + this + "']")
                            .each(function () {
                                $(this).grp_autocomplete_fk({
                                    lookup_url: "{% url 'grp_related_lookup' %}",
                                    autocomplete_lookup_url: "{% url 'grp_autocomplete_lookup' %}"
                                });
                            });
                    });
                    $.each(autocomplete_fields_m2m, function () {
                        $("div.grp-changelist-results")
                            .find("input[name^='" + prefix + "'][name$='-" + this + "']")
                            .each(function () {
                                $(this).grp_autocomplete_m2m({
                                    lookup_url: "{% url 'grp_m2m_lookup' %}",
                                    autocomplete_lookup_url: "{% url 'grp_autocomplete_lookup' %}"
                                });
                            });
                    });
                    $.each(autocomplete_fields_generic, function () {
                        var content_type = this[0],
                            object_id = this[1];
                        $("div.grp-changelist-results")
                            .find("input[name^='" + prefix + "'][name$='-" + this[1] + "']")
                            .each(function () {
                                var i = $(this).attr("id").match(/-\d+-/);
                                if (i) {
                                    var ct_id = "#id_" + prefix + i[0] + content_type,
                                        obj_id = "#id_" + prefix + i[0] + object_id;
                                    $(this).grp_autocomplete_generic({
                                        content_type: ct_id,
                                        object_id: obj_id,
                                        lookup_url: "{% url 'grp_related_lookup' %}",
                                        autocomplete_lookup_url: "{% url 'grp_autocomplete_lookup' %}"
                                    });
                                }
                            });
                    });
                    // reset actions select box
                    $('.grp-changelist-actions select').val(-1);
                    // find errors and move (because errors should be below form elements)
                    $("ul.errorlist").each(function () {
                        $(this).parents("td").append($(this));
                    });
                    // HACK: get rid of currently/change with URL–fields. F**K!!!
                    $('p.url').each(function () {
                        $(this).find("a").remove();
                        var text = $(this).html();
                        text = text.replace(/^\w*: /, "");
                        text = text.replace(/<br>.*: /, "");
                        $(this).html(text);
                    });
                    // HACK: remove input types
                    var clean_input_types = "{% grappelli_clean_input_types %}";
                    if (clean_input_types == "True") {
                        grappelli.cleanInputTypes();
                    }
                    ;
                });
            })(grp.jQuery);
        </script>
    {% endif %}
    <script type="text/javascript" charset="utf-8">
        // Use proper jQuery reference - check for grp.jQuery first, then fallbacks
        (function () {
            // Find available jQuery - prioritize grp.jQuery for Grappelli compatibility
            var $ = window.grp && window.grp.jQuery ? window.grp.jQuery :
                   (window.django && window.django.jQuery ? window.django.jQuery : window.jQuery);

            if (!$) {
                console.error('jQuery not found - filter panel cannot be initialized');
                return;
            }

            // Storage key for pin state
            var STORAGE_KEY = 'bpp_filter_panel_pinned';

            // Global function to initialize or re-initialize DjangoQL search
            // This function can be called after HTMX content swaps
            window.initDjangoQLSearch = function() {
                // Check if DjangoQL is available
                if (typeof window.DjangoQL === 'undefined') {
                    return;
                }

                // Check if search input exists and hasn't been converted to textarea yet
                var searchInput = document.querySelector('input[name=q]');
                if (!searchInput) {
                    // Already converted to textarea or doesn't exist
                    return;
                }

                // Check if already initialized (input should be converted to textarea)
                var searchTextarea = document.querySelector('textarea[name=q]');
                if (searchTextarea) {
                    // Already initialized
                    return;
                }

                // DjangoQL initialization logic (based on completion_admin.js)
                var QLParamName = 'q-l';
                var QLEnabled;
                var QLEnabledInURL;
                var originalPlaceholder = searchInput.placeholder;
                var QLPlaceholder = 'Advanced search with Query Language';

                // Check URL params for QL state
                function parseQueryString() {
                    var qs = window.location.search.substring(1);
                    var result = {};
                    var vars = qs.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split('=');
                        var key = decodeURIComponent(pair[0]);
                        if (key) {
                            result[key] = decodeURIComponent(pair[1] || '');
                        }
                    }
                    return result;
                }

                QLEnabledInURL = parseQueryString()[QLParamName];
                if (QLEnabledInURL === 'on') {
                    QLEnabled = true;
                } else if (QLEnabledInURL === 'off') {
                    QLEnabled = false;
                } else {
                    QLEnabled = Boolean(window.DjangoQL._toggleOnByDefault);
                }

                // Create textarea to replace input
                var textarea = document.createElement('textarea');
                textarea.value = searchInput.value;
                textarea.id = searchInput.id;
                textarea.name = searchInput.name;
                textarea.rows = 1;
                textarea.placeholder = QLEnabled ? QLPlaceholder : originalPlaceholder;
                textarea.setAttribute('maxlength', 2000);

                // Insert textarea before input
                searchInput.parentNode.insertBefore(textarea, searchInput);

                // Remove original input
                searchInput.parentNode.removeChild(searchInput);
                // Don't auto-focus during re-initialization to avoid disrupting user workflow

                // Initialize DjangoQL instance
                var djangoQL = new window.DjangoQL({
                    completionEnabled: QLEnabled,
                    introspections: 'introspect/',
                    syntaxHelp: 'djangoql-syntax/',
                    selector: 'textarea[name=q]',
                    autoResize: true
                });

                // If toggle is enabled, set up toggle functionality
                if (window.DjangoQL._enableToggle) {
                    var QLInput = document.querySelector('input[name=' + QLParamName + ']');
                    if (!QLInput) {
                        QLInput = document.createElement('input');
                        QLInput.type = 'hidden';
                        QLInput.name = QLParamName;
                        textarea.parentNode.insertBefore(QLInput, textarea);
                    }
                    QLInput.value = QLEnabled ? 'on' : 'off';

                    var QLToggle = document.createElement('input');
                    QLToggle.type = 'checkbox';
                    QLToggle.checked = QLEnabled;
                    QLToggle.className = 'djangoql-toggle';
                    QLToggle.title = QLPlaceholder;
                    QLToggle.onchange = function(e) {
                        if (e.target.checked) {
                            djangoQL.enableCompletion();
                            QLInput.value = 'on';
                            textarea.placeholder = QLPlaceholder;
                            textarea.focus();
                            djangoQL.popupCompletion();
                        } else {
                            djangoQL.disableCompletion();
                            QLInput.value = 'off';
                            textarea.placeholder = originalPlaceholder;
                            textarea.focus();
                        }
                    };
                    textarea.parentNode.insertBefore(QLToggle, textarea);
                }
            };

            // Track loading indicator timing (shared across event listeners)
            var loadingStartTime = null;
            var minLoadingTime = 500; // Minimum display time in milliseconds

            // Function to initialize filter panel
            function initFilterPanel() {
                var $filterPanel = $('#filter-panel');
                var $filterOverlay = $('#filter-panel-overlay');
                var $filterPinBtn = $('#filter-panel-pin');
                var $body = $('body');

                // Check if panel should be pinned on load
                var isPinned = localStorage.getItem(STORAGE_KEY) === 'true';

                // Open filter panel
                function openFilterPanel(skipAnimation) {
                    if (skipAnimation) {
                        $filterPanel.addClass('pinned-no-animation');
                    }
                    $filterPanel.addClass('active');

                    // Only add active class to overlay if it's not already active
                    // This prevents flash during HTMX re-initialization
                    if (!$filterOverlay.hasClass('active')) {
                        $filterOverlay.addClass('active');
                    }

                    $body.addClass('filter-panel-open');

                    // Remove no-animation class after a brief moment
                    if (skipAnimation) {
                        setTimeout(function () {
                            $filterPanel.removeClass('pinned-no-animation');
                        }, 50);
                    }
                }

                // Close filter panel
                function closeFilterPanel() {
                    if (!isPinned) {
                        $filterPanel.removeClass('active');
                        $filterOverlay.removeClass('active');
                        $body.removeClass('filter-panel-open');
                    }
                }

                // Toggle pin state
                function togglePin() {
                    isPinned = !isPinned;
                    localStorage.setItem(STORAGE_KEY, isPinned.toString());
                    $filterPinBtn.toggleClass('pinned', isPinned);

                    if (isPinned) {
                        $filterPinBtn.attr('title', 'Odepnij panel (panel pozostanie otwarty)');
                    } else {
                        $filterPinBtn.attr('title', 'Przypnij panel (panel pozostanie otwarty po przeładowaniu)');
                    }
                }

                // Initialize pin button state and open if pinned (without animation)
                if (isPinned) {
                    $filterPinBtn.addClass('pinned');
                    $filterPinBtn.attr('title', 'Odepnij panel (panel pozostanie otwarty)');

                    // Only open panel if it's not already open (prevents shake during HTMX re-init)
                    if (!$filterPanel.hasClass('active')) {
                        openFilterPanel(true);  // Skip animation on page load
                    }
                } else {
                    $filterPinBtn.attr('title', 'Przypnij panel (panel pozostanie otwarty po przeładowaniu)');
                }

                // Open filter panel on button click
                $('#filter-panel-toggle').click(function (e) {
                    e.preventDefault();
                    openFilterPanel();
                });

                // Pin button click
                $filterPinBtn.click(function (e) {
                    e.preventDefault();
                    togglePin();
                });

                // Close button - unpin if needed and close
                $('#filter-panel-close').click(function (e) {
                    e.preventDefault();
                    // Unpin if currently pinned
                    if (isPinned) {
                        isPinned = false;
                        localStorage.setItem(STORAGE_KEY, 'false');
                        $filterPinBtn.removeClass('pinned');
                        $filterPinBtn.attr('title', 'Przypnij panel (panel pozostanie otwarty po przeładowaniu)');
                    }
                    // Always close the panel (force close, bypassing isPinned check)
                    $filterPanel.removeClass('active');
                    $filterOverlay.removeClass('active');
                    $body.removeClass('filter-panel-open');
                });

                // Overlay click - unpin and close
                $filterOverlay.click(function (e) {
                    e.preventDefault();
                    // Unpin if currently pinned
                    if (isPinned) {
                        isPinned = false;
                        localStorage.setItem(STORAGE_KEY, 'false');
                        $filterPinBtn.removeClass('pinned');
                        $filterPinBtn.attr('title', 'Przypnij panel (panel pozostanie otwarty po przeładowaniu)');
                    }
                    // Close the panel
                    closeFilterPanel();
                });

                // Close on Escape key - unpin if needed and close
                $(document).keyup(function (e) {
                    if (e.key === "Escape" && $filterPanel.hasClass('active')) {
                        // Unpin if currently pinned
                        if (isPinned) {
                            isPinned = false;
                            localStorage.setItem(STORAGE_KEY, 'false');
                            $filterPinBtn.removeClass('pinned');
                            $filterPinBtn.attr('title', 'Przypnij panel (panel pozostanie otwarty po przeładowaniu)');
                        }
                        closeFilterPanel();
                    }
                });

                // Reset button - clears all filters using HTMX
                $('#filter-panel-reset').attr('hx-get', window.location.pathname);
                $('#filter-panel-reset').attr('hx-target', '#grp-content-container');
                $('#filter-panel-reset').attr('hx-select', '#grp-content-container');
                $('#filter-panel-reset').attr('hx-swap', 'innerHTML swap:0.3s');
                $('#filter-panel-reset').attr('hx-indicator', '#filter-loading-indicator');

                // Initialize HTMX for the reset button
                if (typeof htmx !== 'undefined') {
                    htmx.process($('#filter-panel-reset')[0]);
                }

                // Handle collapsible filter titles
                $('.filter-collapsible').on('click', function () {
                    var $title = $(this);
                    var filterId = $title.data('filter-id');
                    var $options = $('#' + filterId);
                    var $icon = $title.find('.filter-toggle-icon');

                    // Toggle collapsed state
                    $title.toggleClass('collapsed');
                    $options.toggleClass('collapsed');

                    // Toggle icon between down and right arrows
                    if ($title.hasClass('collapsed')) {
                        $icon.text('▶');  // Right arrow for collapsed
                    } else {
                        $icon.text('▼');  // Down arrow for expanded

                    }
                });

                // Polish loading messages for scientific bibliography
                const loadingMessages = [
                    // Academic Life & Publishing
                    "Szukam igły w stogu publikacji...",
                    "Wertuję punkty ministerialne...",
                    "Szukam humoru recenzenta...",
                    "Teleportuję elektrony...",
                    "Przesyłki błąd - natychmiast...",
                    "Poszukiwany... aktor? Imp-akt-f... aktor...",

                    // Humorous & Relatable
                    "Budzę uśpione cytowania...",
                    "Negocjuję z serwerem...",
                    "Przekonuję bazę do współpracy...",

                    // Self-Deprecating & Silly
                    "Szukam sensu w algorytmach punktacji...",
                    "Rozmawiam z duchami dawnych publikacji...",

                    // Academic Frustrations
                    "Walczę z formularzami...",
                    "Odszyfrowuję ministerialne wytyczne...",
                    "Szukam sensu w algorytmach ewaluacji...",
                    "Poszukiwanie plagiatów...",
                    "Odkopuję publikacje spod biurokracji...",

                    // Philosophical & Witty
                    "Kontempluję istotę h-indexu...",
                    "Medytuję nad sensem współautorstwa...",
                    "Filozofuję nad paradoksem open access...",
                    "Rozważam dylemat publikuj albo giń...",
                    "Analizuję chaos teorii cytowań...",

                    // Pop Culture References
                    "Hakuję matrycę bibliograficzną...",
                    "Teleportuję dane z PBN...",
                    "Wywołuję zaklęcie przyspieszenia bazy...",
                    "Łączę się z bibliograficzną mocą...",
                    "Przekraczam próg cytowań...",


                    "Zwalczam drapieżnych wydawców..."

                ];

                // Function to get random loading message
                function getRandomLoadingMessage() {
                    return loadingMessages[Math.floor(Math.random() * loadingMessages.length)];
                }

                // Handle HTMX events for filter panel
                document.body.addEventListener('htmx:beforeRequest', function (evt) {
                    // Check if this is a filter selection or reset that should show loading indicator
                    var isFilterSelection = evt.detail.elt.classList.contains('filter-option-link');
                    var isFilterReset = evt.detail.elt.classList.contains('filter-panel-reset') ||
                                       evt.detail.elt.id === 'filter-panel-reset';

                    // Only show loading overlay and indicator for filter selections and reset
                    if (isFilterSelection || isFilterReset) {
                        // Track when loading started
                        loadingStartTime = Date.now();

                        // Show loading overlay to block clicks
                        var loadingOverlay = document.getElementById('loading-overlay');
                        if (loadingOverlay) {
                            loadingOverlay.classList.add('htmx-request');
                        }

                        // Update loading message with random text
                        var loadingIndicator = document.getElementById('filter-loading-indicator');
                        if (loadingIndicator) {
                            // Add class for minimum display time
                            loadingIndicator.classList.add('min-display-time');

                            var textSpan = loadingIndicator.querySelector('span');
                            if (textSpan) {
                                // Add ellipsis if the message doesn't already have it
                                var message = getRandomLoadingMessage();
                                if (!message.endsWith('...')) {
                                    message += '...';
                                }
                                textSpan.textContent = message;
                            }
                        }
                    }

                    // Check if the request is from a filter link
                    if (isFilterSelection) {
                        var $link = $(evt.detail.elt);
                        var selectedText = $link.text().replace('✓', '').trim();

                        // Find the parent filter group and its elements
                        var $filterOption = $link.closest('.filter-option');
                        var $filterOptions = $filterOption.closest('.filter-options');
                        var filterId = $filterOptions.attr('id');
                        var $filterTitle = $('.filter-collapsible[data-filter-id="' + filterId + '"]');
                        var $filterTitleText = $filterTitle.find('.filter-title-text');
                        var $icon = $filterTitle.find('.filter-toggle-icon');

                        // Get the original filter name (before the colon if it exists)
                        var originalTitle = $filterTitleText.text().split(':')[0].trim();

                        // Check if this is a default value (first option or typical "All" values)
                        var isDefaultValue = false;
                        var isFirstOption = $filterOption.index() === 0;
                        var lowerText = selectedText.toLowerCase();

                        // Check if it's a default value
                        if (isFirstOption ||
                            lowerText === 'wszystkie' ||
                            lowerText === 'wszyscy' ||
                            lowerText === 'wszystko' ||
                            lowerText === 'all' ||
                            lowerText === '-' ||
                            lowerText === '---' ||
                            lowerText === 'dowolny' ||
                            lowerText === 'dowolna' ||
                            lowerText === 'dowolne' ||
                            selectedText === '') {
                            isDefaultValue = true;
                        }

                        if (isDefaultValue) {
                            // For default value, remove the selection display and class
                            $filterTitleText.html(originalTitle);
                            $filterTitle.removeClass('has-selection');
                        } else {
                            // Update the title with selected value
                            $filterTitleText.html(originalTitle + ': <strong class="selected-filter-value">' + selectedText + '</strong>');
                            // Add has-selection class for styling non-default selections
                            $filterTitle.addClass('has-selection');
                        }

                        // Collapse the filter
                        $filterTitle.addClass('collapsed');
                        $filterOptions.addClass('collapsed');
                        $icon.text('▶');

                        // Close panel if not pinned
                        if (!isPinned) {
                            closeFilterPanel();
                        }
                    }

                    // Check if the request is from reset button
                    if (isFilterReset) {
                        // Close panel if not pinned (after reset)
                        if (!isPinned) {
                            closeFilterPanel();
                        }
                    }
                });

                // Note: Loading indicator hiding moved to htmx:afterSwap to ensure it stays visible
                // until content is actually displayed (fixes issue with slow network connections)

            }

            // Initialize on document ready
            $(document).ready(function () {
                grappelli.initSearchbar();
                // Removed grappelli.initFilter() as we're using custom filter panel
                $('.add-another').click(function (e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                $('.related-lookup').click(function (e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });

                // Initialize filter panel
                initFilterPanel();

                // Before HTMX swap - clone the current panel to prevent flickering
                document.body.addEventListener('htmx:beforeSwap', function (evt) {
                    if (evt.detail.target && evt.detail.target.id === 'grp-content-container') {
                        var $panel = $('#filter-panel');
                        // If panel is currently active, clone it and keep it visible during swap
                        if ($panel.length && $panel.hasClass('active')) {
                            // Clone the current panel (deep clone)
                            var $oldPanel = $panel.clone(true);

                            // Add transitioning class for styling
                            $oldPanel.addClass('filter-panel-transitioning');

                            // Higher z-index to stay on top during transition
                            $oldPanel.css('z-index', '10001');

                            // Change id to avoid duplicates
                            $oldPanel.attr('id', 'filter-panel-old');

                            // Append to body (outside swap target to prevent removal)
                            $('body').append($oldPanel);
                        }
                    }
                });

                // Handle HTMX completion - re-initialize filter panel and fade out old panel
                document.body.addEventListener('htmx:afterSwap', function (evt) {
                    // Check if the swap was for the content container
                    if (evt.detail.target && evt.detail.target.id === 'grp-content-container') {
                        // Fade out and remove the old panel if it exists
                        var $oldPanel = $('#filter-panel-old');
                        if ($oldPanel.length) {
                            // Trigger fade out animation
                            $oldPanel.addClass('fade-out');

                            // Remove old panel after animation completes (300ms)
                            setTimeout(function() {
                                $oldPanel.remove();
                            }, 300);
                        }

                        // Re-initialize the filter panel after content swap
                        setTimeout(function () {
                            initFilterPanel();

                            // Re-initialize Django admin actions for the new content
                            if (typeof window.Actions !== 'undefined') {
                                const actionsEls = document.querySelectorAll('tr input.action-select');
                                if (actionsEls.length > 0) {
                                    window.Actions(actionsEls);
                                }
                            }

                            // Re-initialize DjangoQL if needed
                            if (typeof window.initDjangoQLSearch === 'function') {
                                window.initDjangoQLSearch();
                            }
                        }, 50);
                    }

                    // Handle filter count updates - whoosh out zero-count items with conditional animation
                    if (evt.detail.target && evt.detail.target.classList.contains('filter-count')) {
                        var $countElement = $(evt.detail.target);
                        var countText = $countElement.text().trim();
                        var count = parseInt(countText, 10);

                        // If count is 0, remove the item (with or without animation based on group size)
                        if (count === 0) {
                            var $filterOption = $countElement.closest('.filter-option');
                            var $filterOptions = $filterOption.closest('.filter-options');

                            // Count total filter options in this group
                            var totalOptions = $filterOptions.find('.filter-option').length;
                            var useAnimation = totalOptions <= 15;

                            if (useAnimation) {
                                // Small group (≤15 items): use whoosh animation
                                $filterOption.addClass('whoosh-out');

                                // After animation completes (300ms), hide the element
                                setTimeout(function() {
                                    $filterOption.addClass('hidden');

                                    // Check if all options in this group are hidden
                                    var $visibleOptions = $filterOptions.find('.filter-option:not(.hidden)');

                                    // If no visible options remain, whoosh out the entire filter group
                                    if ($visibleOptions.length === 0) {
                                        var $filterGroup = $filterOption.closest('.filter-group');

                                        // Whoosh out the filter group
                                        $filterGroup.addClass('whoosh-out');

                                        // After animation, hide it completely
                                        setTimeout(function() {
                                            $filterGroup.addClass('hidden');
                                        }, 400); // Match the group animation duration
                                    }
                                }, 300); // Match the whoosh animation duration
                            } else {
                                // Large group (>15 items): hide immediately without animation
                                $filterOption.addClass('hidden');

                                // Check if all options in this group are hidden
                                var $visibleOptions = $filterOptions.find('.filter-option:not(.hidden)');

                                // If no visible options remain, hide the entire filter group immediately
                                if ($visibleOptions.length === 0) {
                                    var $filterGroup = $filterOption.closest('.filter-group');
                                    $filterGroup.addClass('hidden');
                                }
                            }
                        }
                    }
                });

                // Handle when filter options are expanded - check for empty groups
                document.body.addEventListener('htmx:afterSettle', function (evt) {
                    // Hide loading indicator after settle (after swap animation completes)
                    if (evt.detail.target && evt.detail.target.id === 'grp-content-container') {
                        var loadingIndicator = document.getElementById('filter-loading-indicator');
                        var loadingOverlay = document.getElementById('loading-overlay');

                        if (loadingIndicator && loadingStartTime) {
                            var elapsedTime = Date.now() - loadingStartTime;
                            var remainingTime = Math.max(0, minLoadingTime - elapsedTime);

                            // If request was too fast, keep loading indicator visible for remaining time
                            if (remainingTime > 0) {
                                setTimeout(function() {
                                    loadingIndicator.classList.remove('min-display-time');
                                    loadingIndicator.classList.add('htmx-request-complete');
                                    // Also hide the overlay
                                    if (loadingOverlay) {
                                        loadingOverlay.classList.remove('htmx-request');
                                        loadingOverlay.classList.add('htmx-request-complete');
                                    }
                                    // Remove the indicator classes after fade out animation (300ms)
                                    setTimeout(function() {
                                        loadingIndicator.classList.remove('htmx-request');
                                        loadingIndicator.classList.remove('htmx-request-complete');
                                        if (loadingOverlay) {
                                            loadingOverlay.classList.remove('htmx-request-complete');
                                        }
                                    }, 300);
                                }, remainingTime);
                            } else {
                                // Request took long enough, hide immediately with fade out
                                loadingIndicator.classList.remove('min-display-time');
                                loadingIndicator.classList.add('htmx-request-complete');
                                // Also hide the overlay
                                if (loadingOverlay) {
                                    loadingOverlay.classList.remove('htmx-request');
                                    loadingOverlay.classList.add('htmx-request-complete');
                                }
                                setTimeout(function() {
                                    loadingIndicator.classList.remove('htmx-request');
                                    loadingIndicator.classList.remove('htmx-request-complete');
                                    if (loadingOverlay) {
                                        loadingOverlay.classList.remove('htmx-request-complete');
                                    }
                                }, 300);
                            }

                            loadingStartTime = null;
                        }
                    }

                    // Check if we're settling after loading filter counts
                    if (evt.detail.elt && evt.detail.elt.classList.contains('filter-count')) {
                        // Small delay to ensure all counts in the group are loaded
                        setTimeout(function() {
                            var $filterGroup = $(evt.detail.elt).closest('.filter-group');
                            var $filterOptions = $filterGroup.find('.filter-options');

                            // Check if this filter group's options are expanded
                            if (!$filterOptions.hasClass('collapsed')) {
                                var $visibleOptions = $filterOptions.find('.filter-option:not(.hidden)');

                                // If all options are hidden, immediately whoosh out the group
                                if ($visibleOptions.length === 0 && !$filterGroup.hasClass('whoosh-out')) {
                                    $filterGroup.addClass('whoosh-out');

                                    setTimeout(function() {
                                        $filterGroup.addClass('hidden');
                                    }, 400); // Match animation duration
                                }
                            }
                        }, 50); // Very short delay just to ensure counts are loaded
                    }
                });

                // HTMX Error Handling
                // Track last failed request for retry functionality
                var lastFailedRequest = null;
                var errorToastTimeout = null;

                // Helper functions for error toast
                function showErrorToast(title, message) {
                    var toast = document.getElementById('htmx-error-toast');
                    if (!toast) return;

                    document.getElementById('error-title').textContent = title;
                    document.getElementById('error-details').textContent = message;
                    toast.classList.remove('hidden');

                    // Clear existing timeout
                    if (errorToastTimeout) {
                        clearTimeout(errorToastTimeout);
                    }

                    // Auto-hide after 8 seconds
                    errorToastTimeout = setTimeout(function() {
                        hideErrorToast();
                    }, 8000);
                }

                function hideErrorToast() {
                    var toast = document.getElementById('htmx-error-toast');
                    if (toast) {
                        toast.classList.add('hidden');
                    }
                    if (errorToastTimeout) {
                        clearTimeout(errorToastTimeout);
                        errorToastTimeout = null;
                    }
                }

                function hideLoadingIndicators() {
                    var loadingIndicator = document.getElementById('filter-loading-indicator');
                    var loadingOverlay = document.getElementById('loading-overlay');

                    if (loadingIndicator) {
                        loadingIndicator.classList.remove('htmx-request');
                        loadingIndicator.classList.remove('min-display-time');
                        loadingIndicator.classList.remove('htmx-request-complete');
                    }
                    if (loadingOverlay) {
                        loadingOverlay.classList.remove('htmx-request');
                        loadingOverlay.classList.remove('htmx-request-complete');
                    }
                    loadingStartTime = null;
                }

                // Listen for HTTP response errors (404, 500, etc.)
                document.body.addEventListener('htmx:responseError', function(evt) {
                    lastFailedRequest = evt.detail;
                    var status = evt.detail.xhr ? evt.detail.xhr.status : 0;
                    var title = 'Błąd serwera';
                    var message = 'Wystąpił błąd podczas ładowania danych.';

                    switch (status) {
                        case 403:
                            title = 'Brak uprawnień';
                            message = 'Nie masz uprawnień do wykonania tej operacji.';
                            break;
                        case 404:
                            title = 'Nie znaleziono';
                            message = 'Żądany zasób nie został znaleziony.';
                            break;
                        case 500:
                        case 502:
                        case 503:
                            title = 'Błąd serwera';
                            message = 'Serwer napotkał problem. Spróbuj ponownie za chwilę.';
                            break;
                        default:
                            title = 'Błąd ładowania';
                            message = `Serwer zwrócił błąd (kod ${status}). Spróbuj odświeżyć stronę.`;
                    }

                    showErrorToast(title, message);
                    hideLoadingIndicators();
                });

                // Listen for network errors (no connection, timeout, etc.)
                document.body.addEventListener('htmx:sendError', function(evt) {
                    lastFailedRequest = evt.detail;
                    showErrorToast(
                        'Błąd połączenia',
                        'Nie można połączyć się z serwerem. Sprawdź połączenie internetowe.'
                    );
                    hideLoadingIndicators();
                });

                // Listen for request timeouts
                document.body.addEventListener('htmx:timeout', function(evt) {
                    lastFailedRequest = evt.detail;
                    showErrorToast(
                        'Przekroczono czas oczekiwania',
                        'Serwer nie odpowiedział w wyznaczonym czasie. Spróbuj ponownie.'
                    );
                    hideLoadingIndicators();
                });

                // Retry button click handler
                var retryBtn = document.getElementById('error-retry-btn');
                if (retryBtn) {
                    retryBtn.addEventListener('click', function() {
                        hideErrorToast();
                        if (lastFailedRequest && lastFailedRequest.elt) {
                            // Retry the last failed request by triggering HTMX again
                            htmx.trigger(lastFailedRequest.elt, 'click');
                        } else {
                            // Fallback: reload the entire page
                            window.location.reload();
                        }
                    });
                }

                // Close button click handler
                var closeBtn = document.getElementById('error-close-btn');
                if (closeBtn) {
                    closeBtn.addEventListener('click', function() {
                        hideErrorToast();
                    });
                }
            });
        })(); // Self-executing function without jQuery parameter
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}grp-change-list{% endblock %}
{% block content-class %}{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="{% url 'admin:index' %}">🏠</a></li>
            <li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li>
            <li>{{ cl.opts.verbose_name_plural|capfirst }}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content_title %}
    <h1>{{ cl.opts.verbose_name_plural|capfirst }}</h1>
{% endblock %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
    <ul class="grp-object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <li><a href="{% add_preserved_filters add_url is_popup to_field %}"
                       class="grp-add-link grp-state-focus">
                    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                </a></li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="grp-module">
        <div class="grp-row">
            <div class="l-2cr-fluid {% if cl.has_filters and cl.search_fields %}l-d-12
                {% else %}{% if cl.has_filters or cl.search_fields %}l-d-6{% endif %}{% endif %}">
                {% if cl.has_filters or cl.search_fields %}
                    {% block aside %}
                        <aside class="c-1" {% if cl.has_filters and cl.search_fields %}style="width: 700px;"{% endif %}>
                            <header style="display:none"><h1>{% if cl.search_fields %}Search{% if cl.has_filters %}&amp;
                            {% endif %}{% endif %}{% if cl.has_filters %}Filters{% endif %}</h1></header>
                            <!-- SEARCH -->
                            {% if cl.search_fields %}
                                {% block search %}
                                    <div id="search" class="{% if cl.has_filters and cl.search_fields %}g-d-12

                                        {% else %}{% if cl.has_filters or cl.search_fields %}g-d-6{% endif %}{% endif %} g-d-f">
                                        {% search_form cl %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                            <!-- FILTERS -->
                            {% if cl.has_filters %}
                                {% block filters %}
                                    {% cache 300 admin_filters request.GET.items request.path request.user.username %}
                                        <div id="grp-filters" class="g-d-6 g-d-l">
                                            <div class="grp-filter">
                                                <a href="javascript://"
                                                   id="filter-panel-toggle"
                                                   class="grp-button">{% trans "Filter" %}</a>
                                            </div>
                                        </div>
                                    {% endcache %}
                                {% endblock %}
                            {% endif %}
                        </aside>
                    {% endblock %}
                {% endif %}
                {% block pagination_top %}
                    <div class="c-2">
                        <!-- PAGINATION TOP -->
                        {% pagination cl %}
                    </div>
                {% endblock %}

            </div>
        </div>
        <!-- DATE HIERARCHY -->
        {% block date_hierarchy %}
            {% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}
        {% endblock %}
    </div>
    <form id="grp-changelist-form" action="" method="post"{% if cl.formset.is_multipart %}
          enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        <section id="grp-changelist" class="{% if cl.list_editable %} grp-editable{% endif %}">
            <header style="display:none"><h1>Results</h1></header>
            <!-- POPUP -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}
            <!-- ERRORS -->
            {% if cl.formset.errors %}
                <p class="errornote">
                    {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}
                        {% trans "Please correct the errors below." %}{% endif %}
                </p>
                {{ cl.formset.non_form_errors }}
            {% endif %}
            <!-- MANAGEMENT FORM -->
            {% if cl.formset %}
                {{ cl.formset.management_form }}
            {% endif %}
            <!-- CHANGELIST-RESULTS -->
            {% block result_list %}
                {% result_list cl %}
            {% endblock %}
        </section>
        <!-- PAGINATION BOTTOM -->
        {% if not cl.result_count == 0 %}
            {% block pagination_bottom %}
                <div class="grp-module">
                    <div class="grp-row">{% pagination cl %}</div>
                </div>
            {% endblock %}
        {% endif %}
        <!-- SUBMIT ROW -->
        {% if cl.formset or action_form %}
            <footer id="submit" class="grp-module grp-submit-row grp-fixed-footer">
                <header style="display:none"><h1>Submit Options</h1></header>
                <ul>
                    {% if action_form %}
                        <li class="grp-float-left grp-changelist-actions">{% admin_actions %}</li>{% endif %}
                    {% if cl.formset %}
                        <li><input type="submit" class="grp-button grp-default" name="_save"
                                   value="{% trans "Save" %}"/></li>{% endif %}
                </ul>
            </footer>
        {% endif %}
    </form>

    <!-- SLIDING FILTER PANEL -->
    {% if cl.has_filters %}
        <!-- HTMX Error Toast -->
        <div id="htmx-error-toast" class="htmx-error-toast hidden" hx-preserve="true">
            <div class="error-toast-content">
                <span class="error-icon">⚠️</span>
                <div class="error-message">
                    <strong id="error-title">Błąd ładowania danych</strong>
                    <p id="error-details">Nie udało się załadować zawartości. Sprawdź połączenie z internetem.</p>
                </div>
                <div class="error-actions">
                    <button id="error-retry-btn" class="error-btn error-retry" title="Ponów próbę ładowania">Spróbuj ponownie</button>
                    <button id="error-close-btn" class="error-btn error-close" title="Zamknij powiadomienie">×</button>
                </div>
            </div>
        </div>

        <!-- Loading Overlay - blocks all clicks during HTMX requests -->
        <div id="loading-overlay" class="loading-overlay htmx-indicator" hx-preserve="true"></div>

        <!-- Loading Indicator -->
        <div id="filter-loading-indicator" class="filter-loading-indicator htmx-indicator" hx-preserve="true">
            <div class="filter-loading-spinner"></div>
            <span id="loading-message">Wczytywanie...</span>
        </div>

        <div id="filter-panel-overlay" class="filter-panel-overlay" hx-preserve="true"></div>
        <div id="filter-panel" class="filter-panel{% if cl.filter_specs|length <= 6 %} filter-panel-narrow{% endif %}">
            <div class="filter-panel-header">
                <h2>{% trans "Filters" %}</h2>
                <div class="filter-panel-actions">
                    <button id="filter-panel-reset"
                            class="filter-panel-reset"
                            aria-label="Reset"
                            title="Wyczyść wszystkie filtry">
                        🔄
                    </button>
                    <button id="filter-panel-pin"
                            class="filter-panel-pin"
                            aria-label="Pin"
                            title="Przypnij panel (panel pozostanie otwarty po przeładowaniu)">
                        📌
                    </button>
                    <button id="filter-panel-close"
                            class="filter-panel-close"
                            aria-label="Close">×
                    </button>
                </div>
            </div>
            <div class="filter-panel-content">
                {% should_show_filter_counts cl as show_counts %}
                {% for spec in cl.filter_specs %}
                    {% get_filter_choices_without_selected spec cl as filter_choices %}
                    {% get_selected_filter_value spec cl as selected_value %}
                    {% get_selected_filter_count_url spec cl as selected_count_url %}
                    <div class="filter-group">
                        <h3 class="filter-title filter-collapsible collapsed{% if selected_value %} has-selection{% endif %}"
                            data-filter-id="filter-{{ forloop.counter }}">
                            <span class="filter-title-text">
                                {{ spec.title }}{% if selected_value %}:
                                    <strong class="selected-filter-value">{{ selected_value }}
                                        {% if selected_count_url and show_counts %}
                                            <span class="filter-header-count"
                                                  hx-get="{{ selected_count_url }}"
                                                  hx-trigger="intersect once"
                                                  hx-target="this"
                                                  hx-swap="innerHTML">(…)</span>
                                        {% endif %}
                                    </strong>{% endif %}
                            </span>
                            <span class="filter-toggle-icon">▶</span>
                        </h3>
                        <ul class="filter-options collapsed" id="filter-{{ forloop.counter }}">
                            {% for choice in filter_choices %}
                                <li class="filter-option{% if choice.selected %} selected{% endif %}">
                                        {% if choice.selected %}
                                            <span class="filter-check-icon">✓</span>
                                        {% endif %}
                                    <a href="{{ choice.query_string|iriencode }}"
                                       title="{{ choice.display }}"
                                       hx-get="{{ choice.query_string|iriencode }}"
                                       hx-target="#grp-content-container"
                                       hx-select="#grp-content-container"
                                       hx-swap="innerHTML swap:0.3s"
                                       hx-indicator="#filter-loading-indicator"
                                       class="filter-option-link">
                                        {{ choice.display }}
                                    </a>
                                    {% if show_counts %}
                                        <span class="filter-count"
                                              hx-get="{% get_filter_count_url choice cl %}"
                                              hx-trigger="intersect once"
                                              hx-target="this"
                                              hx-swap="innerHTML"></span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
