{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}
{% load i18n %}

{% block title %}
    Import osób - {{ parent.get_title }} - {{ this_title }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "egeria:main" %}">import osób</a></li>
    <li><a href="{{ parent.get_absolute_url }}">{{ parent.get_title }}</a></li>
    <li class="current">{{ this_title }}</li>
{% endblock %}

{% block content %}


    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"
         role="dialog">
        <h2 id="modalTitle">Integrowanie danych...</h2>
        <div style="float: left;; margin-right: 5px;">
            <img src="{% static "bpp/images/giphy.gif" %}" width="48"/>
        </div>
        <p>Praca procedury na serwerze rozpoczęta. Za chwilę strona powinna odświeżyć się i przejdziesz do kolejnego
            etapu integracji danych.</p>
    </div>



    <script type="text/javascript">

        function doSubmit(form) {
            $.ajax("?submit=1&messageId=" + bppNotifications.messageCookieId);

            {% if ask_on_submit %}
                $('#myModal').foundation('reveal', 'open');

            {% endif %}
            return false;
        }

    </script>
    {% include "egeria/object_heading.html" with object=parent %}
    <h2>{{ this_title }}</h2>
    {% if object_list.count %}
        {% load pagination_tags %}
        {% autopaginate object_list %}
        <p>
            Zapoznaj się z proponowanymi zmianami do bazy danych.
        </p>
        <p>
            Kliknij przycisk "Dalej" jeżeli się zgadzasz na wprowadzenie tych zmian do bazy.
        </p>

        {% paginate %}
        <p>
            {% block table %}
            {% endblock %}
        </p>
        {% paginate %}

        <button type="submit" id="submit" onclick="doSubmit(this.form);"

{#                onclick="if (confirm('Ten krok może powodować wprowadzenie zmian do bazy danych. Późniejsze cofnięcie go nie może nie być możliwe. Potwierdź.')) doSubmit(this.form);"#}
        >
            Dalej...
        </button>

        <button type="anuluj" onclick="location.href='{% url "egeria:main" %}?hilite={{ parent.pk }}';">
            Anuluj
        </button>
    {% else %}
        ... brak propozycji zmian dla tej kategorii.
        <p></p>Następuje przekierowanie do następnej strony zmian. Jeżeli po chwili nic się nie wydarzy,
        <a href="{{ next_url }}">kliknij tutaj. </a>
        <script type="text/javascript">
            $(window).on("load", function () {
                doSubmit();
            });
        </script>
    {% endif %}

{% endblock %}