{% extends "egeria/diff_list_base.html" %}

{% block table %}
    <strong>{{ list_label }}</strong>
    <table>
        <tr>
            <th>Nazwisko</th>
            <th>Imiona</th>
            <th>Tytuł</th>
            <th>Jednostka</th>
            <th>Działanie</th>
        </tr>

        {% for elem in object_list %}
            <tr>
                <td>{{ elem.reference.nazwisko }}</td>
                <td>{{ elem.reference.imiona }}</td>
                <td>{{ elem.reference.tytul.skrot }}</td>
                <td>{{ elem.reference.jednostka.nazwa }}</td>
                <td>
                    {% if not elem.this_has_links %}
                        usunięcie z bazy
                    {% else %}
                        {% if not elem.aktualna_jednostka.obca_jednostka %}
                            przypisanie do obcej jednostki
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}