{% extends "egeria/diff_list_base.html" %}

{% block table %}
    <strong>{{ list_label }}</strong>

    <table>
        <tr>
            <th>Nazwisko</th>
            <th>Imiona</th>
            <th>Zmiana tytułu</th>
            <th>Zmiana jednostki</th>
            <th>Zmiana funkcji</th>
            <th>Zmiana imienia</th>
            <th>Zmiana nazwiska</th>
            <th>Zmiana PESEL</th>
        </tr>

        {% for elem in object_list %}
            <tr>
            <td>{{ elem.reference.nazwisko }}</td>
            <td>{{ elem.reference.imiona }}</td>
            <td>

                {% if elem.reference.tytul != elem.tytul %}
                    {{ elem.tytul.skrot }}
                {% endif %}

            </td>
            <td>
                {% if elem.reference.aktualna_jednostka != elem.jednostka %}
                    {{ elem.jednostka }}
                {% endif %}
            </td>
            <td>
                {% if elem.reference.aktualna_funkcja != elem.funkcja %}
                    {{ elem.funkcja }}
                {% endif %}
            </td>

            <td>
                {% if elem.reference.imiona != elem.imiona %}
                    {{ elem.imiona }}
                {% endif %}
            </td>
            <td>
                {% if elem.reference.nazwisko != elem.nazwisko %}
                    {{ elem.nazwisko }}
                {% endif %}
            </td>
            <td>
                {% if elem.reference.pesel_md5 != elem.pesel_md5 %}
                    tak
                {% endif %}
            </td>

        {% endfor %}

    </table>
{% endblock %}