{% extends "base.html" %}{% load render_table from django_tables2 %}

{% block extratitle %}
    Import dyscyplin źródeł
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "import_list_dyscyplin:index" %}">import list dyscyplin</a></li>
{% endblock %}

{% block content %}{% load static %}
    <h1>Utwórz nowy import: <a class="button secondary" id="download-example-file"
                               href="{% static "import_dyscyplin_zrodel/import_dyscyplin_zrodel_przyklad.xlsx" %}">
        <i class="fi-page-edit"></i>
        pobierz plik wzorcowy
    </a>
    </h1>


    {% load crispy_forms_tags %}
    {% crispy form %}
{% endblock %}
