{% extends "base.html" %}
{% load humanize %}

{% block extratitle %}
    {{ object.filename }}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "integrator:list" %}">integrator</a></li>
    <li class="current">{{ object.filename }}</li>

{% endblock %}

{% block content %}
    <h1>Integracja autorów - plik {{ object.filename }}</h1>
    <p>Status: {{ object.get_status_display }}</p>
    <p>Ostatnia zmiana: {{ object.last_updated_on|naturaltime }}</p>
    <p>Kod błędu: {{ object.extra_info|default:"brak" }}</p>
    <p>Wszystkich rekordów: {{ object.autorintegrationrecord_set.all.count }}</p>
    <p>Zintegrowano automatycznie: {{ object.integrated.count }}</p>
    <p>Nie zintegrowano: {{ object.not_integrated.count }}</p>

    {% if object.status > 1 %}
        <p>Rekordy niezintegrowane:</p>

        <table>
        {% if object.type == 2 %}
            {% for row in object.not_integrated %}
                <tr>
                    <td>{{ row.nazwisko }} {{ row.imie }}</td>
                    <td>{{ row.tytul_skrot }}</td>
                    <td>{{ row.nazwa_jednostki }}</td>
                    <td>{{ row.pbn_id }}</td>
                    <td>{{ row.extra_info }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for row in object.not_integrated %}
                <tr>
                    <td>{{ row.title }} </td>
                    <td>{{ row.publisher }}</td>
                    <td>{{ row.issn }}</td>
                    <td>{{ row.e_issn }}</td>
                    <td>{{ row.license }}</td>
                    <td>{{ row.extra_info }}</td>

                </tr>
            {% endfor %}
        {% endif %}


        </table>
    {% endif %}

{% endblock %}