{% load user_in_group %}{% if request.user.is_superuser or request.user|has_group:group %}
    <div class="hide-for-print">
        <a target="_blank" href="{% url url %}" class="{% if 'edycji' in text or 'Otwórz' in text %}jednostka-edit-button{% else %}jednostka-add-button{% endif %}">
            {% if '<i' in text %}
                {{ text|safe }}
            {% else %}
                {% if 'edycji' in text or 'Otwórz' in text %}
                    <span class="fi fi-page-edit"></span>
                {% else %}
                    <span class="fi fi-plus"></span>
                {% endif %}
                {{ text|default:"Dodaj nowy rekord" }}
            {% endif %}
        </a>
    </div>
{% endif %}
