{% extends "base.html" %}

{% block extratitle %}
    Indeks jednostek{% if wybrana != None %} - litera {{ wybrana }}{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li {% if wybrana == None %}class="current"{% endif %}><a
            href="{% url "bpp:browse_jednostki" %}">Jednostki</a></li>
    {% if wybrana != None %}
        <li class="current">litera {{ wybrana }}</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% url "bpp:browse_jednostki" as browse_jednostki %}
    {% include "browse/literki.html" with pierwszy_tab="wszystkie" url=browse_jednostki %}

    {% url "bpp:browse_jednostki" as browse_jednostki %}

    <div class="row hide-on-print">
        <div class="large-6 small-12 columns">
            {% include "browse/search_form.html" with url=browse_jednostki tekst="Wpisz część nazwy i wciśnij ENTER..." name="search" flt=flt %}
        </div>
        <div class="large-8 small-12 columns">
            {% include "pagination.html" %}
        </div>
    </div>


    {% load columns %}

    <div class="row">
        {% for col in object_list|columns:2 %}
            <div class="large-6 columns">
                {% for item in col %}
                    <a href="{% url "bpp:browse_jednostka" item.slug %}">
                        {{ item.nazwa }}</a>
                    <br/><br/>
                {% endfor %}
            </div>
        {% endfor %}
        {% if not object_list %}
            <div class="panel">
                Nie znaleziono takich jednostek. <p></p>
                <a href=".">Kliknij tutaj, aby spróbować ponownie.</a>
            </div>

        {% endif %}
    </div><!-- /row -->


{% endblock %}