<ul class="tabs hide-for-print" data-tabs id="literki-tabs">

    <li class="tabs-title {% if wybrana == None %}is-active{% endif %}">
    <a href="{{ url }}" {% if wybrana == None %}aria-selected="true"{% endif %}>
        {{ pierwszy_tab }}
    </a>

    </li>

    {% for literka in literki %}
        <li class="tabs-title
        {% if literka == wybrana %}is-active{% endif %}
        ">
            <a {% if literka == wybrana %}class="wybrana" aria-selected="true"{% endif %}
               id="literka_{{ literka }}"
               href="{{ url }}{{ literka }}">{{ literka }}</a>
        </li>
    {% endfor %}
</ul>
<div class="tabs-content">
</div>
<script> $(document).foundation({ tab: { callback: function (tab) {
    location.href = $(tab).children().first().attr("href");
} } }); </script>


