{% extends "base.html" %}
{% load prace %}

{% block extratitle %}
    {{ rekord.tytul_oryginalny|striptags }}
{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "multiseek:index" %}">Wyszukiwanie</a></li>
    <li class="current">{{ rekord.tytul_oryginalny|truncatewords_html:15|safe}}</li>
{% endblock %}


{% block content %}
    {% include "browse/praca_tabela_mono.html" with praca=rekord.original autorzy=rekord.original.autorzy_dla_opisu rekord=rekord links="normal"%}
    {% include "browse/google_scholar.html" with praca=rekord.original autorzy=rekord.original.autorzy_dla_opisu rekord=rekord %}
{% endblock %}
