{% extends "base.html" %}
{% load user_in_group %}

{% block extratitle %}
    Uczelnia
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="current"><a href="#">Uczelnia</a></li>
{% endblock %}

{% block content %}
    {% load humanize %}

    <div class="row">
        {% if article %}
            <div class="small-12 large-6 column">
                <h2>{{ article.title }}</h2>
                {% include "browse/go_to_admin_change.html" with group="web" url="admin:miniblog_article_change" pk=article.pk text="otwórz do edycji" %}
                <p>opublikowano {{ article.published_on|naturalday }}</p>
                <p>{{ article.article_body.content|safe }}</p>
            <a href="..">wstecz</a>
            </div>
        {% else %}
            {% if miniblog.exists or request.user.is_superuser or request.user|has_group:"web" %}
                <div class="small-12 large-6 column">
                    <h2>Aktualności</h2>
                    {% include "browse/go_to_admin_list.html" with group="web" url="admin:miniblog_article_changelist" %}
                    {% include "browse/go_to_admin_list.html" with group="web" url="admin:miniblog_article_add" text="dodaj artykuł" %}
                    {% for article in miniblog %}
                        <h3><strong>{{ article.title }}</strong></h3>
                        <p>
                            opublikowano {{ article.published_on|naturalday }}</p>
                        <p>{{ article.article_body.excerpt|safe }}</p>
                        {% if article.article_body.has_more %}
                            <p>
                                <a href="{% url "bpp:browse_artykul" uczelnia.slug article.slug %}">
                                    więcej
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        <div class="small-12 large-6 column">

            <h2>Wybierz wydział</h2>
            {% include "browse/go_to_admin_list.html" with group="struktura" url="admin:bpp_wydzial_changelist" %}
            {% include "browse/go_to_admin_change.html" with url="admin:bpp_uczelnia_change" pk=uczelnia.pk group="struktura" text="ustawienia dla Uczelni" %}
    <ul class="no-bullet" style="line-height: 250%;">
        {% for wydzial in uczelnia.wydzialy %}
            <li>
                <a href="{% url "bpp:browse_wydzial" wydzial.slug %}">{{ wydzial }}</a>
            </li>
        {% endfor %}
    </ul>
        </div>
    </div>

{% endblock %}