{% extends "base.html" %}
{% load columns %}

{% block extratitle %}
    {{ wydzial }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="current">{{ wydzial }}</li>
{% endblock %}

{% block content %}
    <div id="opisWydzialu">
        <h1>{{ wydzial }}</h1>
        {% include "browse/go_to_admin_change.html" with url="admin:bpp_wydzial_change" pk=wydzial.pk group="struktura" %}
        {% if wydzial.pokazuj_opis and wydzial.opis %}
            {{ wydzial.opis|safe }}
        {% endif %}
    </div>
    {% if wydzial.wymaga_nawigacji %}
        <div data-sticky-container id="navStickyContainer" class="wydzial-nav">
            <div data-sticky class="sticky"
                 style="border: 1px solid gray; background: white;"
                 data-anchor="listyJednostek" data-margin-top="4">
                <nav class="sticky-container">
                    <ul class="menu expanded" data-magellan>
                        {% if wydzial.aktualne_jednostki.exists %}
                            <li><a href="#aktualne">Jednostki aktualne</a></li>
                        {% endif %}
                        {% if wydzial.kola_naukowe.exists %}
                            <li><a href="#kola_naukowe">Koła naukowe</a></li>
                        {% endif %}
                        {% if wydzial.historyczne_jednostki.exists %}
                            <li><a href="#historyczne">Jednostki historyczne</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
    <!-- Add content where magellan will be linked -->
    <div class="sections" id="listyJednostek">
        {% if wydzial.aktualne_jednostki.exists %}
            <section id="aktualne" data-magellan-target="aktualne">
                {% if wydzial.wymaga_nawigacji %}
                    <h2>Jednostki aktualne</h2>
                {% endif %}
                <div class="row" style="line-height: 180%;">
                    {% for col in wydzial.aktualne_jednostki|columns:2 %}
                        <div class="large-6 medium-12 small-12 columns">
                            {% for jednostka in col %}
                                <a href="{% url "bpp:browse_jednostka" jednostka.slug %}">
                                    {{ jednostka.nazwa }}
                                </a><br/>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {% if wydzial.kola_naukowe.exists %}
            <section id="kola_naukowe" data-magellan-target="kola_naukowe">
                {% if wydzial.wymaga_nawigacji %}
                    <h2>Koła naukowe</h2>
                {% endif %}
                <div class="row" style="line-height: 180%;">
                    {% for col in wydzial.kola_naukowe|columns:2 %}
                        <div class="large-6 medium-12 small-12 columns">
                            {% for jednostka in col %}
                                <a href="{% url "bpp:browse_jednostka" jednostka.slug %}">
                                    {{ jednostka.nazwa }}
                                </a><br/>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            </section>
        {% endif %}

        {% if wydzial.historyczne_jednostki.exists %}
            <section id="historyczne" data-magellan-target="historyczne">
                {% if wydzial.wymaga_nawigacji %}
                    <h2>Jednostki historyczne</h2>
                {% endif %}
                <div class="row" style="line-height: 180%;">
                    {% for col in wydzial.historyczne_jednostki|columns:2 %}
                        <div class="large-6 medium-12 small-12 columns">
                            {% for jednostka in col %}
                                <a href="{% url "bpp:browse_jednostka" jednostka.slug %}">
                                    {{ jednostka.nazwa }}
                                </a><br/>
                            {% endfor %}
                        </div>

                    {% endfor %}
                </div>

            </section>
        {% endif %}
    </div>

    <script type="text/javascript">
        $(document).ready(showOrHideNav);
        $(window).resize(showOrHideNav);

        function showOrHideNav() {
            /* decyzja o ukryciu lub pokazaniu nawigacji opiera się na określeniu, czy wyszła poza
            okno. W tym celu pobieramy zmienną y (top) DIVa z listą jednostek i sprawdzamy, czy
            po dodaniu go do wysokosci tej listy wyjdzie poza okno. Jeżeli tak -> wyświetlamy nawigację.

            Funkcja uruchamiana po zmianie rozmiaru okna.
             */
            var listyJednostek = $("#listyJednostek").height();
            var win = $(window).height();
            var top = document.getElementById("listyJednostek").getBoundingClientRect().top;

            if (listyJednostek < win - top)
                $("#navStickyContainer").hide();
            else
                $("#navStickyContainer").show();
        }
    </script>

{% endblock %}
