# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
dist_dev/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos
into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea/

# Moje
*~
src/bower_components
src/components/bower_components
src/django_bpp/staticroot
src/media
src/django_bpp/local_settings.py
.vagrant/

src/django_bpp/components/bower_components/
src/django_bpp/node_modules/
src/django_bpp/wheelhouse/
node_modules/
splintershots/

.DS_Store
\#*
*.backup

releases/
*.cert
*.crt
*.key
*.retry
*.ova

src/bpp/static/scss/app.css

PO_IMPORCIE.SQL
log.txt
test-import.sh
import-bpp.sh
import_log_bez_habilitacji_bez_patentow.txt
import_log_calosc.txt

.pip-cache/http
*.xz
log
.pytest_cache
/src/bpp/static/scss/app-*.css
dump-*.dump
*.pgdump

src/import_dbf/db/
src/import_dbf/db-old/
/src/import_dbf/tests/test.dbf.sql
/stellar.yaml

.env
src/import_dbf/integruj-dbf-enable-publikacja.log.txt
src/import_dbf/integruj-dbf-publikacja-log.txt
src/import_dbf/post-import-dbf.sql
*.gz
/src/bpp/static/scss/.sass-cache/
/src/import_dbf/pre-integruj-dbf-enable-publikacja.sql
/src/import_dbf/integruj-dbf-grupy-punktowe-log.txt
/src/import_dbf/isbn-przenies.txt
/src/import_dbf/isbn-skasuj.txt
/src/import_dbf/pd.txt
/src/import_dbf/zd.txt
src/import_dbf/integruj-dbf-szkielety.txt
*.psql
src/import_dbf/import-dbf-przypisz-dyscypliny.log.txt
src/import_dbf/import-dbf-utworz-doktoraty.txt
*.xlsx
pbn_json_data
integracja-publikacji-bg-up.txt
*.csv
import-wydawcow-log.txt
randomizer_*json
knapsack_*json
knapsacks_*.json
genetyczny_nauki_o_zdrowiu.json
genetyczny_nauki_medyczne.json
plecakowy_nauki_medyczne.json
genetyczny_memetyka_stosowana.json
.#*

received-emails/
