export PGHOST=localhost
export PGDATABASE=bpp
export PGUSER=postgres

export DJANGO_SETTINGS_MODULE=django_bpp.settings.local
export DJANGO_LIVE_TEST_SERVER_ADDRESS=192.168.13.37:9500-10000

export PGUSER=postgres
export PGHOST=localhost

export DJANGO_BPP_DB_USER=$PGUSER
export DJANGO_BPP_DB_HOST=$PGHOST

