include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-exclude src/django_bpp/staticroot *
recursive-include src/django_bpp/staticroot/CACHE *
recursive-include src/templates/* *.html *.js *.css *.mo *.po *.wav *.jpg *.png *.svg *.json
recursive-include src/bpp/migrations *.sql *.txt

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
