include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include requirements.txt
include requirements_dev.txt

recursive-include src/django_bpp/staticroot *

recursive-exclude src/django_bpp/staticroot/*grunt* *
recursive-exclude src/django_bpp/staticroot/*sass* *
recursive-exclude src/django_bpp/staticroot/phantomjs-prebuilt *
recursive-exclude src/django_bpp/staticroot/node-gyp *
recursive-exclude src/django_bpp/staticroot/sinon *
recursive-exclude src/django_bpp/staticroot/globule * 

recursive-include src/*/locale/* *mo *po

recursive-include src/*/templates *.html *.css

recursive-include src/bpp/migrations *.sql *.txt
recursive-include src/bpp/fixtures *

recursive-include src/*/fixtures *.json

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
