-i https://pypi.python.org/simple
amqp==2.5.1
beautifulsoup4==4.8.1
billiard==3.5.0.5
bleach==2.1.3
celery==4.2.1
certifi==2019.9.11
chardet==3.0.4
click==7.0
crispy-forms-foundation==0.7.0
dbfread==2.0.7
defusedxml==0.6.0
dj-pagination==2.4.0
django-admin-tools==0.8.1
django-appconf==1.0.3
django-autocomplete-light==3.3.0rc5
django-autoslug-iplweb==1.9.5
django-braces==1.13.0
django-classy-tags==0.9.0
django-columns==0.1.0
django-compat==1.0.15
django-compressor==2.2
django-cookie-law==1.0.13
django-crispy-forms==1.7.0
django-dirtyfields==1.2.1
django-dsl==0.1.11
django-easysettings==2.0.1
django-extensions==1.7.9
django-favicon-plus==0.0.8
django-filter==2.2.0
django-flexible-reports==0.2.8
django-fsm==2.6.0
django-grappelli==2.12.2
django-group-by==0.3.1
django-htmlmin==0.10.0
django-js-asset==1.2.2
django-jsonview==1.1.0
django-loginas==0.3.2
django-messages-extends==0.6.0
django-model-utils==3.0.0
django-mptt==0.9.0
django-multiseek==0.9.38
django-password-policies-iplweb==0.4.4b1
django-querysetsequence==0.8
django-robots==3.1.0
django-secure-input==0.9.3
django-sendfile==0.3.11
django-session-security==2.6.5
django-static-sitemaps==4.6.0
django-tables2==1.16.0
django-webmaster-verification==0.3.0
django==2.1.10
et-xmlfile==1.0.1
future==0.18.2
html5lib==1.0.1
idna==2.7
importlib-metadata==0.23
jdcal==1.4.1
kombu==4.6.5
lxml==4.4.1
markdown==2.3.1
moai-iplweb==2.0.0
more-itertools==7.2.0
odfpy==1.4.0
olefile==0.44
openpyxl==2.4.9
paste==3.2.2
pastedeploy==2.0.1
pastescript==3.2.0
pillow==4.0.0
ply==3.11
progressbar2==3.47.0
psycopg2-binary==2.8.3
psycopg2==2.8.4
pylibmc==1.6.1
pyoai==2.5.0
pypandoc==1.4
python-dateutil==2.6.1
python-utils==2.3.0
pytz==2018.4
pyyaml==5.1.2
raven==6.10.0
rcssmin==1.0.6
requests==2.20.0
rjsmin==1.0.12
six==1.12.0
soupsieve==1.9.4
sqlalchemy==1.3.10
tablib==0.11.5
unicodecsv==0.14.1
unidecode==0.4.20
urllib3==1.24.3
uwsgi==2.0.18
vine==1.3.0
webencodings==0.5.1
webob==1.8.5
wheel==0.33.6
wosclient==0.1.5
wsgi-intercept==1.9.0
wsgiutils==0.7.2
xlrd==1.1.0
xlwt==1.3.0
zipp==0.6.0
zope.component==4.5
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.proxy==4.3.2
