x-c requirements.txt
model_mommy>=1.5.1
django-dynamic-fixture>=1.8.0
mock==2.0.0
django-webtest==1.9.7
beautifulsoup4>=4.6.0
WebTest==2.0.34
Sphinx==1.6.3
coveralls==1.10.0
psutil>=5.6.6
pytest>=5.4.1
pytest-django>=4.1.0
pytest-cov>=2.10.1
pytest-localserver
splinter>=0.14.0
pytest-splinter>=3.3.0
pytest-pythonpath
pytest-mock
pytest-xdist>=2.2.0
pytest-lazy-fixture
pytest-timeout
pyparsing==2.4.1.1
coverage==5.0.2
black
autoflake
autopep8
flake8
pycalver
# Musi tak byc, inaczej sie wysypuje instalacja cryptography
# https://stackoverflow.com/questions/55833509/attributeerror-type-object-callable-has-no-attribute-abc-registry
typing>=3.6,<3.7
isort>=5.7.0
pre-commit
django-debug-toolbar
twine
pypdf2
