-c requirements.txt
model_mommy>=1.5.1
django-dynamic-fixture>=1.8.0
mock==2.0.0
django-webtest==1.9.7
beautifulsoup4>=4.6.0
WebTest==2.0.34
Sphinx==1.6.3
coveralls==1.10.0
psutil>=5.6.6
pytest>=6.2.4
pytest-django>=4.4.0
pytest-httpserver>=1.0.1
pytest-cov>=2.10.1
pytest-localserver
splinter>=0.15.0
pytest-splinter>=3.3.1
selenium>=3.141.0
pytest-pythonpath
pytest-mock
pytest-xdist>=2.3.0
pytest-lazy-fixture
pytest-timeout
pyparsing>=2.4.1.1
coverage
black
autoflake
autopep8
flake8
https://github.com/mpasternak/bumpver/archive/refs/tags/v202219.04-alpha.tar.gz#egg=bumpver-202219.04-alpha
# Musi tak byc, inaczej sie wysypuje instalacja cryptography
# https://stackoverflow.com/questions/55833509/attributeerror-type-object-callable-has-no-attribute-abc-registry
typing>=3.6,<3.7
isort>=5.7.0
pre-commit
django-debug-toolbar
twine
pypdf2
pytest-rerunfailures
ipdb
ipython
