Django==1.11.5
psycopg2==2.7.1

django-flexible-reports==0.2.2

django-group-by==0.3.1

django-columns==0.1.0

tablib==0.11.5

django-dirtyfields==1.2.1
django-messages-extends==0.5
django-autoslug==1.9.3
django-autocomplete-light==3.2.10
django-admin-tools==0.8.1
xlrd==0.9.3
celery==4.0.2

django-tables2==1.10.0
django_tables2_reports==0.1.3
django-sendfile==0.3.11

unidecode==0.4.20
django-cookie-law==1.0.13

pyoai==2.5.0
moai==2.0.0


django-crispy-forms==1.6.1
crispy-forms-foundation==0.3.5

django-compressor==2.1.1

uwsgi==2.0.15

zope.interface==4.1.1
zope.component==4.1.0

raven==6.2.1

django-secure-input==0.9.3
bleach==2.1.1

django-session-security==2.5.1

django-password-policies==0.4.3b0

dj_pagination==2.2.1

requests==2.18.4
pytz==2017.2

django-extensions==1.7.9

django-htmlmin==0.10.0

Pillow==4.0.0
olefile==0.44

django-grappelli==2.9.1
django-multiseek==0.9.28
djorm-ext-filtered-contenttypes==0.4.1

django_braces==1.8.1

django-loginas==0.3.2


django-robots==3.0
django-webmaster-verification==0.3.0
django-favicon-plus==0.0.7

dogslow==1.0.0

django-querysetsequence==0.8

pypandoc==1.4
python-memcached==1.57
django-static-sitemaps==4.3.0
