Django==3.1.12
django-permissions-widget==1.5.2
channels==2.4.0
uvicorn==0.14.0
channels_redis==3.0.1
psycopg2==2.8.6
django-flexible-reports==0.2.9
django-group-by==0.3.1
django-columns==0.1.0
tablib==1.1.0
openpyxl==3.0.3
django-dirtyfields==1.3.1
django-messages-extends==0.6.2
django-autoslug==1.9.8
django-autocomplete-light==3.9.0rc1
django-admin-tools==0.9.0
xlrd==1.2.0
celery[redis]==4.4.2
django-tables2==2.3.1
django-sendfile==0.3.11
Unidecode==0.4.20
django-cookie-law==2.0.3
django-classy-tags==1.0.0
pyoai==2.5.0
django-crispy-forms==1.9.0
crispy-forms-foundation==0.8.0
django_compressor==2.4
zope.interface==5.1.0
zope.component==4.6.2
sentry-sdk==0.14.1
bleach>=3.3.0
django-session-security-iplweb==2.6.6
django-password-policies-iplweb==0.8.3
dj-pagination==2.4.0
requests==2.26.0
pytz==2018.4
django-extensions==3.1.3
django-htmlmin==0.11.0
Pillow==8.2.0
olefile==0.44
django-grappelli==2.14.1
django-multiseek==0.9.46
django-braces==1.14.0
django-loginas==0.3.8
django-robots==4.0
django-webmaster-verification==0.3.0
django-favicon-plus==0.0.8
django-querysetsequence==0.12
pypandoc==1.5
django-static-sitemaps==4.6.0
django-model-utils==4.0.0
django-fsm==2.7.0
django-mptt==0.12.0
wosclient==0.1.5
MOAI-iplweb==2.0.0
django-redis-cache==2.1.1
django-filter
progressbar2
dbfread
djangorestframework==3.11.2
markdown==3.2.1
django-admin-sortable2==1.0
cssmin==0.2.0
rjsmin==1.1.0
django-import-export==2.5.0
pymed-iplweb==0.8.10
django-taggit==1.3.0
django-taggit-serializer==0.1.7
WeasyPrint==53.2
requests-oauthlib==1.3.0
django-cacheops==6.0
# https://stackoverflow.com/questions/68208931/django-runtimeerror-at-admin-users-user-1-change-single-thread-executor-alrea
# daphne Single thread executor already being used, would deadlock
# asgiref==3.3.4
djangoql==0.15.3
