{% extends "base.html" %}

{% block extratitle %}
    Zmiana hasła
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="current">Zmiana hasła</li>
{% endblock %}

{% block content %}
    <div data-alert class="alert-box warning round ">
        Jeżeli zmiana hasła odbędzie się poprawnie, zostanie wyświetlony
        formularz
        logowania. Prosimy o zalogowanie się do systemu przy użyciu nowego
        hasła.
        <a href="#" class="close">&times;</a>
    </div>
    {% load crispy_forms_tags %}
    {% if form.helper %}
        {% crispy form %}
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}
            <div class="button-holder">
                <input type="submit" value="Zmień hasło" class="button">
            </div>
        </form>
    {% endif %}
{% endblock %}
