{% extends "base.html" %}{% load render_table from django_tables2 %}

{% block extratitle %}
    Raport slotów - {{ autor }} za {{ od_roku }} - {{ do_roku }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "raport_slotow:index" %}">raport slotów</a></li>
    <li class="current">{{ autor }} za {{ od_roku }} - {{ do_roku }}</li>
{% endblock %}

{% block content %}
    <h1>Raport slotów</h1>
    <h2>{{ autor }} za {{ od_roku }} - {{ do_roku }}</h2>

    <a href="?_export=xlsx">pobierz XLS</a>
    {% render_table table %}
{% endblock %}
