server {
  listen        {{ nginx_test_message_server_fqdn }};
  # listen        {{ nginx_test_message_server_fqdn }} default ssl;
  server_name 	{{ nginx_test_message_server_fqdn }} {{ nginx_test_message_server_hostname }};

  access_log  	/var/log/nginx/{{ nginx_test_message_server_fqdn }}-access.log;
  error_log    	/var/log/nginx/{{ nginx_test_message_server_fqdn }}-error.log;

  location /pub {
    push_stream_publisher admin;
    push_stream_channels_path               $arg_id;
    {% for item in nginx_test_message_server_allowed_ips %}
    allow {{ item }};
    {% endfor %}
    deny    all;
  }

  location ~ /sub/(.*) {
    push_stream_subscriber;
    push_stream_channels_path                   $1;
    push_stream_message_template                "{\"id\":~id~,\"channel\":\"~channel~\",\"text\":~text~, \"time\":\"~time~\", \"eventid\":\"~event-id~\"}";

  }

  location ~ /ws/(.*) {
    push_stream_subscriber websocket;
    push_stream_channels_path                   $1;
    push_stream_message_template                "{\"id\":~id~,\"channel\":\"~channel~\",\"text\":~text~, \"time\":\"~time~\", \"eventid\":\"~event-id~\"}";

  }
  location ~ /ev/(.*) {
    push_stream_subscriber                      eventsource;
    push_stream_channels_path                   $1;
    push_stream_message_template                "{\"id\":~id~,\"channel\":\"~channel~\",\"text\":~text~}";
  }

#  ssl_certificate         /etc/ssl/private/\{\{ django_site_hostname }}.cert;
#  ssl_certificate_key     /etc/ssl/private/\{\{ django_site_hostname }}.key;
#  ssl_session_timeout     30m;

}

