{% extends "base.html" %}
{# nadpisuje domyślny szablon zgody django-oauth-toolkit #}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="column">
    <h3><span class="fi-key"></span> {% trans "Autoryzacja aplikacji" %}</h3>
    {% if not error %}
    <p>
      {% blocktrans with name=application.name %}Aplikacja <strong>{{ name }}</strong>
      prosi o <strong>ODCZYT</strong> danych BPP w Twoim imieniu.{% endblocktrans %}
    </p>
    <p>{% trans "Zakres:" %}</p>
    <ul>
      {% for opis in scopes_descriptions %}<li>{{ opis }}</li>{% endfor %}
    </ul>
    <form method="post" action="{% url 'oauth2_provider:authorize' %}">
      {% csrf_token %}
      {% for field in form %}{% if field.is_hidden %}{{ field }}{% endif %}{% endfor %}
      <button type="submit" class="button alert" name="allow" value="">
        {% trans "Odmów" %}
      </button>
      <button type="submit" class="button success" name="allow" value="Authorize">
        {% trans "Zezwól na odczyt" %}
      </button>
    </form>
    {% else %}
    <p class="alert callout">{{ error.error }}: {{ error.description }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
