    {% if request.session.MULTISEEK_TITLE %}
        <div class="multiseek-report-title">
            <h1 class="editable bpp-multiseek-title"
                data-activator="#edit-activator"
                data-input-class="short"
                data-text-only="false"
                data-type="textarea"
                data-url="{% url 'bpp:update_multiseek_title' %}">{{ request.session.MULTISEEK_TITLE|safe }}</h1>
            <button
                    title="Kliknij, aby zmienić tytuł wyszukiwania"
                    id="edit-activator"
                    class="title-edit-btn hide-for-print">
                ✏️ Edytuj tytuł
            </button>
        </div>

        <script type="text/javascript">
        $(document).ready(function(){
            $('.editable').jinplace({
                submitFunction: function(opts, value) {
                    return $.ajax(opts.url, {
                        type: "post",
                        data: {
                            item: opts.attribute, object: opts.object,
                            id: opts.elementId, value: value
                        },
                        dataType: 'json'
                    });
                }
            });

        });
        </script>
    {% endif %}
