{% extends "base.html" %}

{% block extratitle %}
    Wybór wydziału
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="current">wybór wydziału</li>
{% endblock %}

{% load humanize %}
{% block content %}
    <div class="grid-x">
        <div class="large-6 cell">
            <h1>Zamów eksport danych</h1>

            {% load crispy_forms_tags %}
            {% crispy form %}

            <script>
                $(document).ready(function () {
                    $("input[name=od_daty]").fdatepicker({language: 'pl', format: "yyyy-mm-dd"});
                    $("input[name=do_daty]").fdatepicker({language: 'pl', format: "yyyy-mm-dd"});
                });
            </script>

        </div>
        <div class="large-6 cell">
            <h1>Ostatnio wygenerowano</h1>
            <ul>
                {% for plik in ostatnie_raporty %}
                    <li><a href="{% url "eksport_pbn:pobierz" plik.pk %}">{{ plik.get_rok_string }}
                        - {{ plik.created_on|naturaltime }}</a></li>
                    {% empty %}
                    Brak plików.
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}