{% extends "base.html" %}

{% block extratitle %}
    Przypisywanie dyscyplin naukowych do prac
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="current">przypisywanie dyscyplin</li>
{% endblock %}

{% block content %}


    {% if lista_autorow %}
        <table id="autorzy">
            {% for autor in lista_autorow %}
                <tr>
                    <td>{{ autor.nazwisko }}</td>
                    <td>{{ autor.imiona}}</td>
                </tr>
            {% endfor %}
        </table>

        {# .... **Now the pagination section** .... #}
        {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">poprzednia</a>
                {% endif %}
                <span class="page-current">
                    Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">następna</a>
                {% endif %}
            </span>
            </div>
        {% endif %}

    {% else %}
        <p>Nie znaleziono autorów z przypisanymi dyscyplinami</p>
    {% endif %}


{% endblock %}
