Django==1.7.11
django-messages-extends==0.4
django-autoslug==1.7.1
django-pagination==1.0.7
django-autocomplete-light==2.2.10
django-admin-tools==0.5.2
xlrd==0.9.3
celery==3.1.18
kombu==3.0.26
django-redis-sessions==0.4.0
django-tables2==0.15.0
django-tables2-reports==0.0.10
pyExcelerator==0.6.4.1
django-sendfile==0.3.2

unidecode==0.04.16
django-cookie-law==1.0.1
openpyxl==1.6.2
moai==2.0.0

django-crispy-forms==1.4.0
crispy-forms-foundation==0.3.5

django-bower==5.0.3
django-compressor==1.4
djorm-pgarray==1.2

# MUSI być budowany pod Linuxem z powodu poniższych poleceń:
gunicorn==19.3.0

zope.interface==4.1.1
zope.component==4.1.0

raven==5.1.1

django-secure-input==0.9.3
django-session-security==2.3.0

django-password-policies==0.3.1

requests==2.7.0
pytz==2015.4

django-extensions==1.5.5

# multiseek
dateutils==0.6.6
argparse==1.3.0

django-htmlmin==0.7.0

simplejson==3.8.0

Pillow==2.9.0

django-celery-ui==0.2
django-grappelli==2.6.4
django-multiseek==0.9.13
djorm-ext-filtered-contenttypes==0.3
djorm-ext-pgfulltext==0.9.1

django_braces==1.8.1

django-loginas==0.1.5
