{% extends "base.html" %}

{% block extratitle %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url form_link %}">{{ form_title }}</a></li>
    <li class="current">{{ title }} &nbsp;</li>
{% endblock %}

{% block content %}
    {% if not report %}
        Nie znaleziono definicji wybranego raportu w bazie danych.
        Skontaktuj się z administratorem systemu.
    {% else %}
        {% load flexible_reports_tags url_helpers %}
        <div class="hide-for-print" style="margin-bottom: 15px; text-align: right;">
            <a href="?{% url_replace _export='docx' %}"
               class="button primary"
               style="margin-left: 8px;">
                <i class="fi-download" aria-hidden="true"></i>
                pobierz jako MS Word
            </a>
            <a href="?{% url_replace _export='xlsx' %}"
               class="button success"
               style="margin-left: 8px;">
                <i class="fi-page-csv" aria-hidden="true"></i>
                pobierz jako XLSX
            </a>
            {% if request.user.is_staff %}
                <a target="_blank"
                   href="{% url "admin:flexible_reports_report_change" report.pk %}"
                   class="button hollow secondary"
                   style="margin-left: 8px;">
                    <i class="fi-page-edit" style="margin-right: 4px; font-size: 0.8rem;"></i>otwórz do edycji
                </a>
            {% endif %}
        </div>

        {% flexible report %}
    {% endif %}

{% endblock %}
