{% extends "base.html" %}


{% block breadcrumbs %}
    {{ block.super }}
    <li class="current">nowe raporty</li>
{% endblock %}

{% block content %}
    <h2>Nowe raporty</h2>
    {# Data-driven lista raportow z DefinicjaRaportu (context processor #}
    {# nowe_raporty.menu.raporty_menu), spojna z menu w top_bar. #}
    {% if raporty_menu %}
        Wybierz:
        <ul>
            {% for raport in raporty_menu %}
                <li>
                    <a href="{% url "nowe_raporty:raport_form" raport.slug %}">
                        <span class="{{ raport.ikona_menu }}"></span> {{ raport.nazwa }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak skonfigurowanych raportów.</p>
    {% endif %}
{% endblock %}
