{% extends "base.html" %}{% load render_table from django_tables2 %}

{% block extratitle %}
    Import list IF - szczegóły {{ object.plik_xls.name }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "import_list_if:index" %}">import list IF</a></li>
    <li class="current">import {{ object.plik_xls.name }}</li>
{% endblock %}


{% block content %}
    <h1>Import danych {{ object.plik_xls.name }}</h1>

    {# Migrated from Foundation accordion to Alpine x-data + x-show.
       Single-item accordion, initially closed. See pattern in
       docs/TAILWIND_MIGRATION.md. #}
    <ul class="my-4 list-none p-0" x-data="{ open: false }">
        <li class="border border-light-gray bg-white">
            <a href="#"
               @click.prevent="open = !open"
               :aria-expanded="open"
               class="relative block px-4 py-5 text-xs leading-none text-primary cursor-pointer hover:bg-light-gray">
                Szczegóły operacji
                <span class="absolute right-4 top-1/2 -translate-y-1/2 font-bold" x-text="open ? '–' : '+'"></span>
            </a>
            <div x-show="open" x-cloak class="border-t border-light-gray px-4 py-5">
                {% include "long_running/operation_details.html" %}
            </div>
        </li>
    </ul>

    Lista modyfikacji do bazy danych, przeprowadzonych na podstawie pliku XLS, zajduje się poniżej:
    {% include "pagination.html" %}
    <table>
        <tr>
            <th>Arkusz nr</th>
            <th>Wiersz nr</th>
            <th>Zródło w XLS</th>
            <th>Zródło w BPP</th>
            <th>Impact factor</th>
            <th>Wymagało zmian</th>
        </tr>

        {% for row in object_list %}
            <tr>
                <td>{{ row.nr_arkusza }}</td>
                <td>{{ row.nr_wiersza }}</td>

                <td>{{ row.dane_z_xls.full_journal_title }}</td>
                <td>{% if row.zrodlo_id %}
                    <a href="{% url "bpp:browse_zrodlo" row.zrodlo.slug %}">{{ row.zrodlo }}</a>{% else %}
                    Brak dopasowania!{% endif %}</td>
                <td>{{ row.impact_factor }}</td>
                <td>{{ row.zintegrowano }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Plik XLS nie zawierał żadnych danych</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
