{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extratitle %}
    {{ nazwa_raportu }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="..">Raporty</a></li>
    <li class="current">{{ nazwa_raportu }}</li>
{% endblock %}

{% block content %}
    <h1>Raporty</h1>
    <h2>{{ nazwa_raportu }}</h2>
            <div data-alert="" class="alert-box warning round">
        Uwaga! Te raporty są przestarzałe, tzn. nie są one zgodne z ustawą. Trwają obecnie prace nad aktualizacją
        raportów. Prosimy o cierpliwość lub kontakt z <a href="mailto:info@bg.umlub.pl">Działem Informacji</a>.
        <a href="#" class="close">×</a>
    </div>

{% crispy form %}

    {% include "raporty/strona_raportow/ostatnio_wygenerowane.html" %}


    <style>
        select.selectmultiple {
            height: auto !important;
        }


    </style>

{% endblock %}