// =============================================================================
// DYSCYPLINY (DISCIPLINES)
// Color scheme for academic disciplines on source pages
// =============================================================================

.dyscypliny .rok {
  font-weight: bold;
  float: left;
  padding: 5px;
  margin: 5px;
}

.dyscypliny .dyscyplina {
  border: 1px solid;
  border-radius: 9px;
  padding: 5px;
  margin: 5px;
}

.dyscypliny .dyscyplina {
  background-color: #eeeeee;
  border-color: gray;
}

.dyscypliny .dziedzina-1 {
  background-color: #04adf0;
}

.dyscypliny .dziedzina-2 {
  background-color: #e4bdf6;
}


.dyscypliny .dziedzina-3 {
  background-color: #c2caf6;
}

.dyscypliny .dziedzina-4 {
  background-color: #0c4f6c;
  color: white;
}

.dyscypliny .dziedzina-5 {
  background-color: #6adf6a;
}

.dyscypliny .dziedzina-6 {
  background-color: wheat;
}

.dyscypliny .dziedzina-7 {
  background-color: teal;
  color: white;

}

.dyscypliny .dziedzina-8 {
  background-color: gold;
}

.dyscypliny .dziedzina-9 {
  background-color: rebeccapurple;
  color: white;
}
