// =============================================================================
// SELECT2 CUSTOMIZATIONS
// Custom styles for Select2 widget specific to BPP
// =============================================================================

.select2-container .select2-search--inline .select2-search__field {
  font-size: 102%;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary-color !important;
}

.select2-container--foundation .select2-results > .select2-results__options {
  max-height: 400px !important;
}

::-ms-check {
  color: red;
  background: black;
  padding: 1em;
}
