@import "settings_green";
@import "foundation";
@import "common";
@import "checkbox";

$info-color: #DEF3B6;

input[type=checkbox]:checked + label {
  background-image: url(/static/bpp/images/lite-green-check.png);
  background-position: 0 -15px;
}


.ui-state-focus {
  background: $primary-color !important;
  border: 1px white !important;
}
