//.row{
//    @media #{$medium} {
//        max-width: 90em;
//    }
//}

a:hover {
  text-decoration: underline;
}

ul.pagination a {
  text-decoration: none;
}

ul.pagination {
  margin-bottom: 0px;

}

label:hover {
  text-decoration: underline;
}

form.custom .custom.checkbox.checked:before {
  content: "\2714";
}

// test

@media print {
  a[href] {
    text-decoration: none;
  }

  a[href]:after {
    content: "" !important;
  }

  table {
    border: none;
    margin: 0pt;
  }

  //table tbody tr, td {
  //  page-break-inside: auto !important;
  //  page-break-after: avoid;
  //}
  //
  //table tr, td {
  //  page-break-before: avoid !important;
  //  page-break-inside: auto !important;
  //  page-break-after: avoid;
  //}

  table tfoot tr th,
  tfoot {
    display: table-row-group;
  }
}

.alert-box {
  font-weight: normal;
}

.alert-box a {
  color: white;
  font-weight: bold;
}

.navigation-autocomplete-icon {
  width: 1.8em;
  height: 1.8em;
}

#global-nav-table {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 0px;
  margin: 0px;
}

body ol li {
  list-style-type: decimal;
  margin-left: 2em;
}

.sub-nav {
  background-color: #f2f2f2;
  border-radius: 6px;
}

.nonfield-errors ol {
  margin: 0px;
}

.nonfield-errors ol li {
  list-style-type: none;
}

.multiseek-range-field-label {
  padding-left: 0.5em !important;
  padding-top: 0.5em !important;
}

@media print {
  div.grid-x {
    display: block !important;
  }

  tr, img {
    page-break-inside: auto !important;
  }

  table.kbntab tr td {
    page-break-inside: auto;
    page-break-after: avoid;
  }

  table.kbntab tr {
    page-break-inside: auto;
    page-break-after: avoid;
  }

  table.bpp-table tr td{
    page-break-inside: auto;
    page-break-after: avoid;
  }

  table.bpp-table tr {
    page-break-inside: auto;
    page-break-after: avoid;
  }

}

@media print {
  // patch dla django_tables2 screen.css, issue #409
  div.table-container {
    display: inline !important;
  }
}

////

.select2-container .select2-search--inline .select2-search__field {
  font-size: 102%;

}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary-color !important;
}

::-ms-check {
  color: red;
  background: black;
  padding: 1em;
}

.bpp-lp-column {
  text-align: right;
}

table.bpp-table tbody tr td {
  vertical-align: top;
}

table.bpp-table tbody tr.even {
  background: white !important;
}

div.table-container ul.pagination {
}

//$topbar-background: rgb(192, 192, 192, 0.8);

.top-bar {
  z-index: 10 !important;
}

#CookielawBanner {
  margin-bottom: -10px !important;
}