{% load prace %}
{# dispBookExtras #}
{% if praca.charakter_formalny.skrot == 'ROZ' or praca.charakter_formalny.skrot == 'KSP' or praca.charakter_formalny.skrot == 'KSZ' %}
    {# szczególy i uwagi na końcu #}
    {{ praca.miejsce_i_rok|znak_na_poczatku:"." }}
    {{ praca.wydawnictwo|znak_na_poczatku:"," }}
    {{ praca.szczegoly|znak_na_poczatku:"," }}
    {{ praca.isbn|znak_na_poczatku:"," }}
    .
{% else %}
    {# szczegóły i uwagi na poczatku #}
    {{ praca.szczegoly|znak_na_poczatku:" " }}
    {{ praca.miejsce_i_rok|znak_na_poczatku:"." }}
    {{ praca.wydawnictwo|znak_na_poczatku:"," }}
    {{ praca.isbn|znak_na_poczatku:"," }}
    .
{% endif %}
{# koniec dispBookExtras #}
