interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1182/blood-2025-848
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,12,5]],"date-time":"2025-12-05T10:27:47Z","timestamp":1764930467230,"version":"3.46.0"},"reference-count":0,"publisher":"American
        Society of Hematology","issue":"Supplement 1","content-domain":{"domain":["ashpublications.org"],"crossmark-restriction":true},"short-container-title":[],"published-print":{"date-parts":[[2025,11,3]]},"abstract":"<jats:title>Abstract<\/jats:title>\n                  <jats:sec>\n                    <jats:title\/>\n                    <jats:p>Introduction<\/jats:p>\n                    <jats:p>Data
        from the final analysis of a phase 3 study (NCT03393975) that investigated
        the efficacy and safety of recombinant ADAMTS13 (rADAMTS13; Takeda Pharmaceuticals
        U.S.A., Inc.) and plasma-based therapy (PBT) prophylaxis in patients with
        congenital thrombotic thrombocytopenic purpura (cTTP) are presented. Treatment
        satisfaction was also investigated in the study.<\/jats:p>\n                    <jats:p>Meth[...]
