[program:celery-worker-{{ django_hostname }}]
command={{ django_home_dir }}/vexec {{ django_venv_dir }}/bin/celery
    worker
    -A django_bpp.celery_tasks
    --pidfile={{ django_home_dir }}/celeryworker.pid
user={{ django_user }}
autostart=true
autorestart=true
numprocs=1
environment=USER="{{ django_user }}"
stdout_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/celery-worker-stdout
stderr_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/celery-worker-stderr
directory={{ django_home_dir }}

[program:celery-beat-{{ django_hostname }}]
command={{ django_home_dir }}/vexec {{ django_venv_dir }}/bin/celery
    beat
    -A django_bpp.celery_tasks
    --pidfile={{ django_home_dir }}/celerybeat.pid
    -s {{ django_home_dir }}/celerybeat-schedule
user={{ django_user }}
autostart=true
autorestart=true
numprocs=1
environment=USER="{{ django_user }}"
stdout_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/celery-beat-stdout
stderr_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/celery-beat-stderr
directory={{ django_home_dir }}

[program:uwsgi-{{ django_hostname }}]
user={{ django_user }}
autostart=true
autorestart=true
environment=USER="{{ django_user }}"
directory={{ django_home_dir }}
command={{ django_home_dir }}/vexec {{ django_venv_dir }}/bin/uwsgi
    --chdir={{ django_home_dir }}
    --module=django_bpp.wsgi
    --master
    --pidfile={{ django_home_dir }}/uwsgi.pid
    --socket={{ django_home_dir }}/uwsgi.sock
    --processes={{ ansible_processor_cores }}
    --uid={{ django_user }} --gid={{ django_user }}
    --harakiri=20
    --max-requests=40960
    --disable-logging
    --chmod-socket=666
    -b 65535

stdout_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/uwsgi-stdout
stderr_logfile={{ supervisor_logdir }}/{{ django_project_name }}/{{ django_hostname }}/uwsgi-stderr

[group:{{ supervisor_group_name }}]
programs=celery-worker-{{ django_hostname }},celery-beat-{{ django_hostname }},uwsgi-{{ django_hostname }}
