{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block extratitle %}
    Wybierz rodzaj raportu
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="current">Raporty</li>
{% endblock %}

{% block content %}

    <dl class="accordion" data-accordion>

        <dd class="accordion-navigation">
            <a href="#KronikaUczelni">Kronika Uczelni</a>

            <div id="KronikaUczelni" class="content">
                {% crispy kronika_uczelni_form %}
            </div>
        </dd>


        <dd class="accordion-navigation">
            <a href="#OPI2012">OPI 2012</a>

            <div id="OPI2012" class="content">
                {% crispy raport_opi_2012_form %}
            </div>
        </dd>


        <dd class="accordion-navigation">
            <a href="#RaportJednostek">Raport jednostek</a>

            <div id="RaportJednostek" class="content">
                {% crispy raport_jednostek_form %}
            </div>
        </dd>


        <dd class="accordion-navigation">
            <a href="#RankingAutorow">Ranking autorów</a>

            <div id="RankingAutorow" class="content">
            <div class="row">
                {% for rok in lata reversed %}
                    <a class="large-2 small-3 columns"
                       style="line-height: 150%"
                       href="/bpp/raporty/ranking-autorow/{{ rok }}/">{{ rok }}</a>
                {% endfor %}
                <span class="filler"></span>
            </div>
            </div>
        </dd>


        <dd class="accordion-navigation">
            <a href="#RaportDlaKomisjiCentralnej">Raport dla Komisji Centralnej</a>
            <div id="RaportDlaKomisjiCentralnej" class="content">
                {% crispy raport_dla_komisji_centralnej_form %}
            </div>
        </dd>
    </dl>

    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.hash) {
                $('dl.accordion dd a').each(function () {
                    var hash = '#' + $(this).attr('href').split('#')[1];
                    if (hash == window.location.hash) {
                        $(this).click();
                    }
                });
            }
        });
    </script>

    <style>
        select.selectmultiple {
            height: auto !important;
        }
    </style>
    <p><strong>Ostatnio wygenerowane:</strong></p>
    <ul>
        {% for raport in raporty %}
            <li>
                <a href="{% url "bpp:podglad-raportu" raport.uid %}">
                    {{ raport.adapted.title }} - zamówiony
                    {{ raport.ordered_on|naturaltime }}
                    - {{ raport.status }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}