-r requirements.txt
django-debug-toolbar==1.2.2
selenium==2.49.0
django-nose==1.4.2
coverage==3.6

model_mommy==1.2.3

splinter==0.7.3
django-dynamic-fixture==1.8.0

flake8==2.4.1
django-jenkins>=0.16.3
pep8==1.6.2
pyflakes==0.8.1

bumpversion==0.5.3

ipython==3.1.0
pyreadline==2.0

pytest==2.8.5
pytest-django==2.9.1
pytest-xdist==1.13.1
pytest-splinter==1.7.0
pytest-instafail==0.3.0
pytest-localserver
pdbpp

mock==1.0.1

django-webtest==1.7.8
beautifulsoup4==4.4.1
waitress==0.8.10
webtest==2.0.20

# TODO czy pojdzie bez tego?
# git+https://github.com/mpasternak/django-selenium-helpers.git#egg=django-selenium-helpers
# django-selenium-helpers==1.1.3
