Django==1.8.17
django-dirtyfields==1.0.1
django-messages-extends==0.5
django-autoslug==1.7.1
django-pagination==1.0.7
django-autocomplete-light==2.2.10
django-admin-tools==0.7.2
xlrd==0.9.3
celery==3.1.19
kombu==3.0.33
django-redis-sessions==0.4.0
django-tables2==0.15.0
django-tables2-reports==0.0.10
pyExcelerator==0.6.4.1
django-sendfile==0.3.2

unidecode==0.04.18
django-cookie-law==1.0.1
openpyxl==1.6.2

pyoai==2.4.4
moai==2.0.0

django-crispy-forms==1.4.0
crispy-forms-foundation==0.3.5

django-bower==5.1.0
django-compressor==2.0
djorm-pgarray==1.2

# MUSI być budowany pod Linuxem z powodu poniższych poleceń:
gunicorn==19.3.0

zope.interface==4.1.1
zope.component==4.1.0

raven==5.1.1

django-secure-input==0.9.3
bleach==1.4.3
html5lib==0.9999999
django-session-security==2.3.0

django-password-policies==0.4.1

requests==2.7.0
pytz==2015.7

django-extensions==1.5.5

# multiseek
dateutils==0.6.6
argparse==1.3.0

django-htmlmin==0.7.0

simplejson==3.8.0

Pillow==2.9.0

django-grappelli==2.7.3
django-multiseek==0.9.15.5
djorm-ext-filtered-contenttypes==0.3
djorm-ext-pgfulltext==0.9.3

django_braces==1.8.1

django-loginas==0.1.5
