git+https://github.com/mpasternak/djorm-ext-filtered-contenttypes#egg=djorm_ext_filtered_contenttypes
git+https://github.com/mpasternak/djorm-ext-pgfulltext#egg=djorm-ext-pgfulltext
git+https://github.com/mpasternak/django-celery-ui.git#egg=django_celery_ui
git+https://github.com/mpasternak/django-multiseek.git#egg=django-multiseek
git+https://github.com/AliLozano/django-messages-extends.git#egg=django-messages-extends