name: Docker - oficjalne obrazy

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Set up Docker Buildx Action
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: "iplweb/bpp"
          install: true
          cache-binary: true

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get version from Makefile
        id: version
        run: echo "version=$(grep '^DOCKER_VERSION=' Makefile | cut -d'=' -f2)" >> $GITHUB_OUTPUT

      - name: Build Docker images in the Docker Build Cloud!
        run: |
          docker buildx bake \
            --file docker-bake.hcl \
            --set 'base.args.GIT_SHA=${{ github.sha }}' \
            --set '*.platform=linux/amd64' \
            --allow=fs.read=/tmp \
            --allow=fs.write=/tmp
        env:
          DOCKER_VERSION: ${{ steps.version.outputs.version }}
          CACHE_TYPE: registry
          PUSH: "true"
